
@font-face {
  font-family: 'ConduitITCMedium';
  src: url('ConduitITCMedium.eot?#iefix') format('embedded-opentype'),  url('ConduitITCMedium.otf')  format('opentype'),
	     url('ConduitITCMedium.woff') format('woff'), url('ConduitITCMedium.ttf')  format('truetype'), url('ConduitITCMedium.svg#ConduitITCMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
