/* modifcation menu */


#menu-principal .sub-menu > li:last-child {
      border-bottom: none;
  }

#menu-principal > li:hover .sub-menu > li a {
    color:#000;
    font-family: 'foco_lightregular';
    text-decoration :none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu-principal > li:hover .sub-menu > li:hover a {
   font-weight : 700;
    color : #ef1e24;
}





.bloc_inscr {
     padding: 30px;
     border: 3px solid #ef1e24;
    background-color: #f7f7f7;
 }

.bloc_info {
    padding: 30px;
    background-color:#000;
}

.bloc_info p {
     color:#fff;
 }

.bloc_info p:first-child {
   font-size :16px;
}

.titre-camps {
    border-bottom: 2px solid #ef1e24!important;
    /*margin-left: 15px;*/
    margin-right: 0!important;
}


.slogan {
    color: #ef1e24;
    font-family: 'focoitalic';
    font-size: 22px;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: -5px;
    line-height: 25px;
}

.bande_rouge {
    background-color: #ef1e24;
    font-size:20px;
    text-align:center;
    color:#fff;
    padding :15px 0 5px;
}

.page-template-page-coursv2 .zone1 > div:nth-of-type(2n+1){
    background-color: #f7f7f7;
}

.page-template-page-coursv2 .zone1 > div:nth-of-type(2n+1) .bloc_inscr{
    background-color: #fff;
}

.page-template-page-coursv2 .zone1 > section{
    display:none;
}

.page-template-page-coursv2 .zone1 > section:nth-of-type(2n){
    display:block;
}
.pub_cours {
    background-image : url(../images/raquette_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding :20px 0;
}

.pub_cours .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding:30px 0;
}

@media(max-width:797px) {
    .pub_cours .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .pub_cours .container div {
        margin-bottom:20px;
    }
}

.pub_cours .container img {
    padding-top:15px;
}

.pub_cours .container div p{
    color: #fff;
    padding :0 40px;
    margin-bottom:0;
    line-height :25px;
    text-align:center;
    font-size:18px;
}

.pub_cours .container div p:first-child{
    font-size:23px;

}

.pub_cours .btn.theme:after {
    background: url(../images/icone-btn-noir.png) no-repeat;
}

.pub_cours .btn.theme {
    background-color: #f9ba01;
    color:#000;
}

.pub_cours .btn.theme:hover {
    background-color: #fff;
    color:#000;
}

#menu-item-716 a, #menu-item-717 a, #menu-item-718 a {
    padding-left: 15px;
    font-style: italic;
}

@media (max-width: 768px) {
    .page-template-page-coursv2  .titre-cours,.page-template-page-coursv2  .titre-camps {
        margin-bottom: 20px;
    }

    .page-template-page-coursv2  .btn.theme.moyen {
        margin: 20px 30px 20px 0;
    }
}


.section-pub {
    background-image: url(../images/jmg-prosport.jpg);
    background-size: cover;
    background-position: center;
}

.image-pub {
    background: none!important;
}


/* slider camps été */

.owl-camps {
    margin: 40px 0;
}