@font-face {
    font-family: 'ConduitITCMedium';
    src: url(../fonts/ConduitITCMedium/ConduitITCMedium.eot?#iefix) format("embedded-opentype"), url(../fonts/ConduitITCMedium/ConduitITCMedium.otf) format("opentype"), url(../fonts/ConduitITCMedium/ConduitITCMedium.woff) format("woff"), url(../fonts/ConduitITCMedium/ConduitITCMedium.ttf) format("truetype"), url(../fonts/ConduitITCMedium/ConduitITCMedium.svg#ConduitITCMedium) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'DINCond-Medium';
    src: url(../fonts/DINCond-Medium/DINCond-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/DINCond-Medium/DINCond-Medium.otf) format("opentype"), url(../fonts/DINCond-Medium/DINCond-Medium.woff) format("woff"), url(../fonts/DINCond-Medium/DINCond-Medium.ttf) format("truetype"), url(../fonts/DINCond-Medium/DINCond-Medium.svg#DINCond-Medium) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Calibri';
    src: url(fonts/Calibri/Calibri.eot?#iefix) format("embedded-opentype"), url(fonts/Calibri/Calibri.woff) format("woff"), url(fonts/Calibri/Calibri.ttf) format("truetype"), url(fonts/Calibri/Calibri.svg#Calibri) format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: 'ConduitITCMedium'
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#myVideo {
    background: url(../imgs/bg_video.jpg) no-repeat;
    background-size: cover;
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: -100;
    z-index: 0;
}

#slider a:visited {
    color: grey !important;
}

.header-top {
    padding: 15px 0;
}

.navbar-collapse {
    border: 0 !important;
    box-shadow: none !important
}

.navbar-brand {
    height: auto !important;
}

.no-padding {
    padding: 0
}

.embed-container {
    height: 0;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/** Logo */
.navbar-brand {
    color: #222 !important;
    font-size: 40px;
    font-weight: 700;
}

hr.trait-theme {
    display: inline-block;
    height: 4px;
    margin: 10px 0 4px;
    width: 22px;
}

.img-logo {
    display: inline-block;
    max-height: 60px;
    vertical-align: middle;
}

.logo {
    display: inline-block;
    height: 60px;
    width: 156px;
}

.logo-footer {
    background-repeat: no-repeat;
    display: inline-block;
    height: 44px;
    vertical-align: middle;
    width: 114px;
}

.navbar-brand {
    padding: 0 15px
}

/** Liens */
.navbar-nav > li > a {
    color: #fff !important;
    font-family: 'DINCond-Medium';
    font-size: 18px;
    letter-spacing: .05em;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.navbar-nav > .active > a {
    background: #fff !important;
    color: #e95850 !important
}

/** Toggle */
.navbar-toggle {
    background: transparent !important
}

.navbar-toggle:hover {
    background: #222 !important
}

.icon-bar {
    background: #fff !important
}

.navbar-default .navbar-toggle {
    border: none
}

/** marges */
.mt120 {
    margin-top: 120px
}

.mt50 {
    margin-top: 50px
}

.mb30 {
    margin-bottom: 30px
}

.bg-header {
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    position: relative;
}

.super {
    margin-top: 110px
}

.super h2 {
    font-family: 'ConduitITCMedium';
    font-size: 135px;
    line-height: 70px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.super h2.sous-titre {
    font-family: 'ConduitITCMedium';
    font-size: 57px;
    margin-top: 0;
    text-transform: uppercase;
}

.super h3 {
    color: #666;
    font-family: 'DINCond-Medium';
    font-size: 27px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}

.super h3.phone {
    font-family: 'DINCond-Medium';
    font-size: 24px;
    letter-spacing: .0625em;
    margin-top: 20px;
    padding-left: 65px;
}

a.btn {
    font-family: 'DINCond-Medium';
    font-size: 18px;
    letter-spacing: .0625em;
    margin-top: 25px;
    padding: 13px 15px;
    text-transform: uppercase;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


a.btn.theme-carre {
    border-radius: 0;
    color: #fff;
    margin-top: 40px;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

a.btn.blanc {
    background: #fff
}

a.btn.blanc:hover {
    background: rgba(255, 255, 255, 0.5)
}


.fleche {
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    height: 46px;
    line-height: 51px;
    width: 46px;
}

.lien-projet {
    bottom: 20px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
}

.decouverte {
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
}

/* Section */
.titre-section {
    font-family: 'DINCond-Medium';
    font-size: 36px;
    letter-spacing: .06em;
    line-height: 37px;
    text-transform: uppercase;
}

.trait {
    background-image: url(../images/trait-biseau.png);
    display: inline-block;
    height: 4px;
    width: 24px;
}

section p {
    font-family: 'Calibri';
    font-size: 14px;
    margin-bottom: 0
}

section p.phone {
    color: #666;
    font-family: 'DINCond-Medium';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .0625em;
    margin-top: 10px;
    padding-left: 70px;
}

.horizontal:after {
    border-radius: 125px / 12px;
    bottom: 0;
    box-shadow: 0 0 8px #565656;
    height: 50px;
    left: 5%;
    width: 90%;
}

.article {
    padding: 50px 0;
}

.article-texte {
    height: 400px;
    padding: 20px 7% 0 !important;
}

.zone1, .zone2, .zone3, .zone4 {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

/** zone 1 */


/** zone 2 */


.video {
    -moz-box-shadow: -2px 2px 13px 0px rgba(50, 50, 50, 0.5);
    -webkit-box-shadow: -2px 2px 13px 0px rgba(50, 50, 50, 0.5);
    box-shadow: -2px 2px 13px 0px rgba(50, 50, 50, 0.5);
    margin-top: 50px;
}

/** zone 3 */


.zone3 .article {
    padding-bottom: 20px
}

.zone3 .article .info {
    color: #fff;
    font-size: 15px;
    margin-bottom: 25px;
}

.titre-section3 {
    color: #fff;
    font-family: 'DINCond-Medium';
    font-size: 45px;
    letter-spacing: .06em;
    line-height: 37px;
    text-transform: uppercase;
}

.zone3 .article .icone-info {
    height: 40px;
    padding: 0;
    width: 40px;
}

.info-texte {
    padding-left: 15px;
    padding-right: 0;
}

.zone3 p.phone {
    color: #fff;
    padding-left: 0;
}

.projet {
    color: #fff;
    font-family: 'ConduitITCMedium';
    font-size: 35px
}

/** zone 4 */


.titre-section4 {
    color: #fff;
    font-family: 'DINCond-Medium';
    font-size: 40px;
    letter-spacing: .06em;
    line-height: 37px;
    text-transform: uppercase;
}

.infolettre {
    color: #fff;
    font-family: 'Calibri';
    font-size: 20px;
    padding-top: 15px
}

.zone4 .form-control {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 15px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 30px;
    padding: 22px 0 22px 15px;
    width: 94%
}

::-webkit-input-placeholder {
    color: #fff !important;
    font-size: 19px;
    text-transform: uppercase;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important;
    text-transform: uppercase;
}



::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
    text-transform: uppercase;
}



:-ms-input-placeholder {
    color: #fff !important;
    text-transform: uppercase;
}

/* Footer */
.jumbotron {
    line-height: 70px;
    margin-bottom: 0;
    padding: 10px 0;
    padding: 0
}

body footer {
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

body .jumbotron p a {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 0;
    text-decoration: none;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


body .texte > span {
    padding-left: 24px
}

.fb-share-button span {
    vertical-align: middle !important
}

body .jumbotron .texte {
    display: inline-block;
    float: right
}

.foot {
    padding-top: 10px
}

@media (max-width: 768px) {
    .navbar-nav {
        margin: 30px 0 0
    }

    .navbar-nav > li > a {
        margin-left: 6px
    }


    .article {
        padding: 50px 0
    }

    .bg-header {
        min-height: 500px
    }

    .super {
        margin-top: 0;
        text-align: center
    }

    .super h2 {
        font-size: 80px;
        line-height: 35px;
    }

    .super h2.sous-titre {
        font-size: 35px
    }

    .super h3 {
        font-size: 20px;
    }

    .zone3 .article .info {
        margin-bottom: 90px;
    }

    .foot {
        text-align: center;
    }

    .texte {
        float: none;
    }

    .super h3.phone {
        padding-left: 0;
    }

    .zone1, .zone2 {
        padding: 0;

    }
}

/* modifcation menu */

.sub-menu {
    background-color: #fff;
    list-style: none;
    margin: 0;
    min-width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 75px;
}

.sub-menu > li {
    border-bottom: 1px solid;
    margin-right: 20px;
    padding: 15px 0 15px 15px;
}


/* slider camps été */

.owl-camps {
    margin: 20px 0;
}
