@charset "UTF-8";
.d-flex {
  display: flex; }

.align-items-center {
  align-items: center; }

.justify-content-end {
  justify-content: flex-end; }

.justify-content-center {
  justify-content: center; }

.grecaptcha-badge {
  display: none; }

.position-initial {
  position: initial; }

strong {
  font-weight: 600; }

body .main-menu {
  border-bottom: 1px solid white;
  position: absolute;
  width: 100%;
  z-index: 2; }
  body .main-menu .row {
    width: 100%;
    margin: 0; }
  body .main-menu .logo {
    height: 95px; }
    @media (max-width: 768px) {
      body .main-menu .logo {
        height: 78px;
        align-items: center;
        display: flex;
        z-index: 2; } }
    body .main-menu .logo img {
      margin: 32px 24px; }
      @media (max-width: 768px) {
        body .main-menu .logo img {
          padding: 20px;
          max-width: 230px;
          margin: 0; } }
  body .main-menu nav {
    margin-bottom: 0; }
    body .main-menu nav a {
      color: white !important;
      font-family: "canada-type-gibson", sans-serif;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 65px;
      opacity: 0.8;
      text-transform: uppercase; }
      body .main-menu nav a:hover {
        opacity: 1; }
    body .main-menu nav .nav > li, body .main-menu nav.navbar {
      position: unset; }
    body .main-menu nav .sub-menu {
      display: none;
      background-color: #EF1F24;
      left: 0;
      list-style: none;
      margin: 0;
      min-width: 100%;
      padding: 35px 15px 15px 15px;
      border-bottom: 0;
      z-index: 100; }
      @media (min-width: 900px) {
        body .main-menu nav .sub-menu {
          background-color: #000;
          position: absolute;
          top: 96px;
          padding: 37px 20%;
          border-bottom: 1px solid white;
          grid-template-columns: 1fr 1fr 1fr; } }
      body .main-menu nav .sub-menu li {
        margin-bottom: 20px; }
        body .main-menu nav .sub-menu li a {
          line-height: 20px; }
  body .main-menu .shopping-bag {
    align-items: center;
    background: #EF1F24;
    border-left: 1px solid #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 95px; }
    @media (max-width: 900px) {
      body .main-menu .shopping-bag {
        display: none; } }
    body .main-menu .shopping-bag img {
      opacity: 0.8; }
    body .main-menu .shopping-bag a:hover img {
      opacity: 1; }
  body .main-menu .menu-nav {
    position: unset;
    padding-right: 0; }
    body .main-menu .menu-nav .d-flex {
      align-items: center;
      height: 95px; }
      @media (max-width: 768px) {
        body .main-menu .menu-nav .d-flex {
          height: 78px; } }

@media (max-width: 900px) {
  #menu-principal {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    background: black;
    padding-top: 78px;
    top: 0;
    margin: 0; }
    #menu-principal > li:first-child {
      border-top: 1px solid #313131;
      transition: border-top-color ease-in-out 0.1s; }
    #menu-principal.open > li:first-child {
      transition-delay: 0.5s;
      transition: border-top-color ease-in-out 0.2s; } }

#menu-principal > li:hover > ul.sub-menu {
  display: grid; }
  @media (max-width: 900px) {
    #menu-principal > li:hover > ul.sub-menu {
      position: relative;
      display: none;
      top: 0;
      left: 0; } }

#slider-default {
  height: 66vh;
  background-size: cover;
  background-position: 50% 40%;
  align-items: start;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  #slider-default h1 {
    color: #fff;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 138px;
    font-weight: 600;
    margin: 0;
    margin-left: 69px;
    max-width: 900px;
    line-height: 128px; }
    @media (max-width: 1200px) {
      #slider-default h1 {
        font-size: 100px;
        line-height: initial; } }
    @media (max-width: 768px) {
      #slider-default h1 {
        font-size: 50px;
        line-height: initial;
        margin: 0 20px; } }
  #slider-default .h2 {
    font-size: 90px;
    font-weight: 600;
    line-height: 125px; }
  #slider-default p.subtitle {
    color: #fff;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    margin-left: 69px;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      #slider-default p.subtitle {
        font-size: 20px;
        line-height: initial;
        margin: 0 20px 40px 20px; } }

.zone1 {
  margin-top: 200px; }

@media (max-width: 900px) {
  .nav-button-holder {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 2; }
  .nav-button {
    cursor: pointer;
    float: right;
    height: 40px;
    margin-top: 9px;
    padding: 13px 6px 6px 6px;
    position: relative;
    width: 40px; }
    .nav-button span {
      background: #fff;
      float: left;
      height: 2px;
      margin-bottom: 4px;
      position: relative;
      width: 100%; } }

.infolettre {
  position: relative;
  margin-bottom: 116px; }
  @media (max-width: 768px) {
    .infolettre {
      margin-bottom: 0; } }
  .infolettre:before {
    position: absolute;
    height: 137px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: #efefef;
    content: ''; }
  .infolettre .container {
    background-color: #ef1e24;
    position: relative; }
    .infolettre .container .newsletter {
      padding: 68px 107px;
      display: flex; }
      @media (max-width: 1200px) {
        .infolettre .container .newsletter {
          flex-direction: column;
          padding: 50px 15px; } }
      .infolettre .container .newsletter h4 {
        font-family: "canada-type-gibson", sans-serif;
        font-size: 50px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 0; }
        @media (max-width: 768px) {
          .infolettre .container .newsletter h4 {
            font-size: 30px;
            line-height: initial; } }
      .infolettre .container .newsletter p.subtitle {
        color: #fff;
        font-family: "canada-type-gibson", sans-serif;
        font-size: 22px;
        line-height: 24px;
        font-weight: 300; }
        @media (max-width: 768px) {
          .infolettre .container .newsletter p.subtitle {
            font-size: 16px;
            line-height: initial; } }
      .infolettre .container .newsletter form {
        display: grid;
        position: relative;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        -moz-column-gap: 25px;
             column-gap: 25px; }
        @media (max-width: 768px) {
          .infolettre .container .newsletter form {
            grid-template-columns: 1fr; } }
        .infolettre .container .newsletter form input {
          height: 64px;
          width: 100%;
          border: none;
          font-family: "canada-type-gibson", sans-serif;
          font-size: 20px;
          padding: 0 15px;
          font-style: italic;
          border-radius: 0; }
        .infolettre .container .newsletter form div.btn-submit {
          bottom: -148px;
          position: absolute;
          right: 0; }
          @media (max-width: 768px) {
            .infolettre .container .newsletter form div.btn-submit {
              position: relative;
              bottom: 0; } }
          @media (max-width: 1200px) {
            .infolettre .container .newsletter form div.btn-submit {
              bottom: -88px; } }
          .infolettre .container .newsletter form div.btn-submit .btn.submit {
            background: #313131;
            font-family: "canada-type-gibson", sans-serif;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 2px;
            line-height: 28px;
            padding: 21px 95px 21px 41px;
            position: relative;
            transition: all 0.3s ease; }
            @media (max-width: 768px) {
              .infolettre .container .newsletter form div.btn-submit .btn.submit {
                font-size: 20px;
                padding: 20px;
                line-height: initial;
                letter-spacing: 1px;
                white-space: break-spaces;
                margin: 0;
                width: 100%; } }
            .infolettre .container .newsletter form div.btn-submit .btn.submit:after {
              background-image: url("../img/icon.arrow.svg");
              background-repeat: no-repeat;
              background-size: cover;
              content: ' ';
              height: 22px;
              position: absolute;
              right: 31px;
              width: 48px;
              top: 50%;
              transform: translateY(-50%); }
              @media (max-width: 768px) {
                .infolettre .container .newsletter form div.btn-submit .btn.submit:after {
                  content: none; } }
            .infolettre .container .newsletter form div.btn-submit .btn.submit:hover {
              border-color: #4f4f4f;
              background: #4f4f4f;
              transition: all 0.3s ease; }

footer {
  overflow: hidden;
  border-top: 1px solid #313131; }
  @media (max-width: 768px) {
    footer {
      border-top: none; } }
  footer .col-logo {
    border-right: 1px solid #313131;
    padding: 80px 118px; }
    @media (max-width: 768px) {
      footer .col-logo {
        padding: 50px 15px 0 15px;
        border-right: none; } }
    @media (max-width: 1200px) {
      footer .col-logo {
        padding: 100px 15px 0 15px; } }
    footer .col-logo img {
      margin-bottom: 20px;
      max-width: 270px; }
    footer .col-logo p, footer .col-logo a {
      display: inline-block;
      font-family: "canada-type-gibson", sans-serif;
      font-size: 20px;
      letter-spacing: 0;
      color: #313131;
      font-weight: 300;
      line-height: 22px;
      margin-bottom: 26px; }
      @media (max-width: 768px) {
        footer .col-logo p, footer .col-logo a {
          display: block; } }
  @media (max-width: 768px) {
    footer .col-menu {
      padding: 50px 0; } }
  footer .col-menu .row div {
    padding: 80px 0; }
    @media (max-width: 768px) {
      footer .col-menu .row div {
        padding: 0 15px;
        margin-bottom: 15px; } }
    footer .col-menu .row div ul {
      margin: 0;
      padding: 0 80px; }
      @media (max-width: 768px) {
        footer .col-menu .row div ul {
          padding: 0; } }
      @media (max-width: 1200px) {
        footer .col-menu .row div ul {
          padding: 0 20px; } }
      footer .col-menu .row div ul li {
        font-family: "canada-type-gibson", sans-serif;
        font-size: 20px;
        line-height: initial;
        margin-bottom: 15px;
        font-weight: 300;
        text-transform: uppercase;
        list-style: none; }
        @media (max-width: 768px) {
          footer .col-menu .row div ul li {
            font-size: 16px; } }
        footer .col-menu .row div ul li:first-child {
          font-weight: 600; }
        footer .col-menu .row div ul li a {
          text-decoration: none !important;
          color: #313131;
          transition: all 0.2s ease; }
          footer .col-menu .row div ul li a:hover {
            color: #4f4f4f;
            transition: all 0.2s ease; }

#slider-home {
  align-items: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  position: relative;
  z-index: 1; }
  #slider-home h1 {
    color: #fff;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 138px;
    font-weight: 600;
    margin: 0;
    margin-left: 69px; }
    @media (max-width: 1200px) {
      #slider-home h1 {
        font-size: 100px;
        line-height: initial; } }
    @media (max-width: 768px) {
      #slider-home h1 {
        font-size: 50px;
        line-height: initial;
        margin: 0 20px; } }
  #slider-home .btn {
    font-family: "canada-type-gibson", sans-serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 2.8px;
    line-height: 28px;
    margin-bottom: 107px;
    padding: 35px 117px 35px 69px;
    position: relative; }
    #slider-home .btn:after {
      background-image: url("../img/icon.arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      content: ' ';
      height: 22px;
      position: absolute;
      right: 55px;
      width: 48px;
      top: 50%;
      transform: translateY(-50%); }
    @media (max-width: 768px) {
      #slider-home .btn {
        font-size: 20px;
        padding: 20px;
        line-height: initial;
        letter-spacing: 1px;
        white-space: break-spaces;
        margin: 35px 15px 50px 15px; }
        #slider-home .btn:after {
          content: none; } }

@media screen and (min-width: 1640px) {
  .container {
    width: 1640px; } }

#cours {
  background: #fff;
  padding: 100px 0; }
  #cours.second-section {
    background: transparent;
    margin-top: -300px; }
  #cours .cours-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; }
    @media screen and (max-width: 1200px) {
      #cours .cours-container {
        grid-template-columns: 50% 50%; } }
    @media screen and (max-width: 768px) {
      #cours .cours-container {
        grid-template-columns: 100%; } }
  #cours .cours {
    height: 480px;
    padding-left: 7px;
    padding-right: 7px; }
    @media screen and (max-width: 768px) {
      #cours .cours {
        height: 420px; } }
    #cours .cours h3 {
      color: #fff;
      font-family: "canada-type-gibson", sans-serif;
      font-size: 40px;
      margin: 0;
      padding: 0 15px 62px 15px;
      text-align: center;
      z-index: 1; }
    #cours .cours a, #cours .cours .a {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      position: relative;
      text-decoration: none;
      width: 100%; }
      #cours .cours a .btn-cours, #cours .cours .a .btn-cours {
        border-top: 1px solid white;
        padding: 32px 0;
        text-align: center;
        width: 100%; }
        #cours .cours a .btn-cours span, #cours .cours .a .btn-cours span {
          color: #fff;
          font-family: "canada-type-gibson", sans-serif;
          font-size: 20px;
          letter-spacing: 2px;
          margin-left: -48px;
          position: relative;
          text-transform: uppercase; }
          #cours .cours a .btn-cours span:after, #cours .cours .a .btn-cours span:after {
            background-image: url("../img/icon.arrow.svg");
            background-repeat: no-repeat;
            background-size: cover;
            content: ' ';
            height: 22px;
            left: calc(100% + 10px);
            position: absolute;
            width: 48px;
            top: 50%;
            transform: translateY(-50%); }
      #cours .cours a:hover .btn-cours, #cours .cours .a:hover .btn-cours {
        background: #EF1F24;
        transition: all 0.3s ease; }

#inscription {
  padding: 350px 0;
  margin-top: -300px; }
  #inscription h2 {
    font-size: 103px;
    font-weight: 600;
    font-family: "canada-type-gibson", sans-serif;
    margin-bottom: 28px; }
    @media (max-width: 768px) {
      #inscription h2 {
        font-size: 40px;
        line-height: initial; } }
  #inscription .subtitle {
    max-width: 670px;
    margin: auto;
    font-size: 30px;
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 400; }
    @media (max-width: 768px) {
      #inscription .subtitle {
        font-size: 20px;
        padding: 0 20px; } }
  #inscription .btn {
    font-family: "canada-type-gibson", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 28px;
    padding: 22px 93px 22px 27px;
    position: relative; }
    #inscription .btn:after {
      background-image: url("../img/icon.arrow.svg");
      background-repeat: no-repeat;
      background-size: cover;
      content: ' ';
      height: 17px;
      position: absolute;
      right: 40px;
      width: 36px;
      top: 50%;
      transform: translateY(-50%); }

#bandeau-noir {
  padding: 236px 0; }
  @media (max-width: 768px) {
    #bandeau-noir {
      padding: 100px 0; } }
  #bandeau-noir .btn {
    font-family: "canada-type-gibson", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 28px;
    padding: 22px 36px;
    position: relative;
    margin-bottom: 28px; }
    @media (max-width: 768px) {
      #bandeau-noir .btn {
        font-size: 15px;
        padding: 15px; } }
  #bandeau-noir .text-center {
    margin: auto; }
    #bandeau-noir .text-center h2 {
      font-family: "canada-type-gibson", sans-serif;
      font-size: 103px;
      color: #fff;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 95px;
      margin-bottom: 28px; }
      @media (max-width: 768px) {
        #bandeau-noir .text-center h2 {
          font-size: 43px;
          line-height: initial;
          padding: 0 15px; } }
    #bandeau-noir .text-center p.subtitle {
      font-family: "canada-type-gibson", sans-serif;
      font-size: 30px;
      color: #fff;
      max-width: 670px;
      margin: auto; }
      @media (max-width: 768px) {
        #bandeau-noir .text-center p.subtitle {
          font-size: 20px;
          line-height: initial;
          padding: 0 15px; } }

#carousel-team {
  overflow: hidden;
  position: relative;
  padding-bottom: 188px; }
  @media (max-width: 768px) {
    #carousel-team {
      padding-bottom: 50px; } }
  #carousel-team .phrase-background {
    position: absolute;
    font-size: 400px;
    color: #efefef;
    top: 40%;
    left: 0;
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 900;
    z-index: -1;
    white-space: nowrap;
    width: 100%; }
    @media (max-width: 1200px) {
      #carousel-team .phrase-background {
        font-size: 250px;
        top: 60%; } }
    @media (max-width: 768px) {
      #carousel-team .phrase-background {
        display: none; } }
  #carousel-team .slider {
    width: calc(100% + 300px);
    margin-left: -150px;
    margin-top: 270px; }
    @media (max-width: 768px) {
      #carousel-team .slider {
        width: 100%;
        margin: 150px 0 0 0; } }
    #carousel-team .slider .slide {
      margin: 0 42px;
      min-height: 450px;
      display: flex;
      align-items: flex-end;
      background-size: cover;
      background-position: center;
      position: relative;
      cursor: url("../img/icon.plus.svg"), auto; }
      @media (max-width: 768px) {
        #carousel-team .slider .slide {
          margin: 0 15px; } }
      #carousel-team .slider .slide:nth-child(2n) {
        margin-top: 40px; }
        @media (max-width: 768px) {
          #carousel-team .slider .slide:nth-child(2n) {
            margin-top: 0; } }
      #carousel-team .slider .slide h3 {
        font-family: "canada-type-gibson", sans-serif;
        font-weight: 200;
        font-size: 40px;
        line-height: 40px;
        color: #fff;
        letter-spacing: 0;
        text-transform: uppercase;
        z-index: 2;
        margin-bottom: 0; }
        @media (max-width: 768px) {
          #carousel-team .slider .slide h3 {
            font-size: 33px;
            line-height: initial; } }
      #carousel-team .slider .slide:before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        mix-blend-mode: multiply;
        background-color: #EF1F24;
        transition: all 0.2s ease-in-out;
        opacity: 0; }
      #carousel-team .slider .slide:hover:before {
        transition: all 0.2s ease-in-out;
        opacity: 1; }
    #carousel-team .slider button {
      position: absolute;
      height: 100%;
      z-index: 1;
      top: 0;
      width: 140px;
      border: none;
      color: transparent; }
      @media (max-width: 768px) {
        #carousel-team .slider button {
          width: 40px; } }
      #carousel-team .slider button.slick-prev {
        left: 150px;
        background: linear-gradient(90deg, white, transparent); }
        @media (max-width: 768px) {
          #carousel-team .slider button.slick-prev {
            left: 0; } }
        #carousel-team .slider button.slick-prev:before {
          background-image: url("../img/icon.arrow.slider.svg");
          width: 86px;
          height: 86px;
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
          right: 0; }
          @media (max-width: 768px) {
            #carousel-team .slider button.slick-prev:before {
              width: 30px;
              height: 30px; } }
      #carousel-team .slider button.slick-next {
        right: 150px;
        background: linear-gradient(270deg, white, transparent); }
        @media (max-width: 768px) {
          #carousel-team .slider button.slick-next {
            right: 0; } }
        #carousel-team .slider button.slick-next:before {
          background-image: url("../img/icon.arrow.slider.svg");
          width: 86px;
          height: 86px;
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0; }
          @media (max-width: 768px) {
            #carousel-team .slider button.slick-next:before {
              width: 30px;
              height: 30px; } }
      #carousel-team .slider button:focus {
        outline: 0; }
  #carousel-team .text-center {
    margin: auto; }
    #carousel-team .text-center h2 {
      font-family: "canada-type-gibson", sans-serif;
      font-size: 103px;
      color: #313131;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 95px;
      margin-bottom: 28px; }
      @media (max-width: 768px) {
        #carousel-team .text-center h2 {
          font-size: 43px;
          line-height: initial;
          padding: 0 15px; } }
    #carousel-team .text-center p.subtitle {
      font-family: "canada-type-gibson", sans-serif;
      font-size: 30px;
      color: #313131;
      max-width: 670px;
      margin: auto; }
      @media (max-width: 768px) {
        #carousel-team .text-center p.subtitle {
          font-size: 20px;
          line-height: initial;
          padding: 0 15px; } }
    #carousel-team .text-center .btn {
      font-family: "canada-type-gibson", sans-serif;
      font-size: 28px;
      font-weight: 300;
      letter-spacing: 2.8px;
      line-height: 28px;
      padding: 35px 117px 35px 69px;
      position: relative; }
      #carousel-team .text-center .btn:after {
        background-image: url("../img/icon.arrow.svg");
        background-repeat: no-repeat;
        background-size: cover;
        content: ' ';
        height: 22px;
        position: absolute;
        right: 55px;
        width: 48px;
        top: 50%;
        transform: translateY(-50%); }

#slider-cours {
  align-items: start;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: flex-end; }
  #slider-cours h1 {
    color: #fff;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 138px;
    font-weight: 600;
    line-height: 128px;
    margin: 0;
    margin-left: 69px;
    max-width: 900px; }
    @media (max-width: 1200px) {
      #slider-cours h1 {
        font-size: 100px;
        line-height: initial; } }
    @media (max-width: 768px) {
      #slider-cours h1 {
        font-size: 50px;
        line-height: initial;
        margin: 0 20px; } }
  #slider-cours p.subtitle {
    color: #fff;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 40px;
    margin-left: 69px; }
    @media (max-width: 768px) {
      #slider-cours p.subtitle {
        font-size: 20px;
        line-height: initial;
        margin: 0 20px 40px 20px; } }

#cours-intro {
  position: relative; }
  #cours-intro .phrase-background {
    color: #efefef;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 300px;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    width: 100%;
    z-index: -1; }
    @media (max-width: 768px) {
      #cours-intro .phrase-background {
        display: none; } }
  #cours-intro .col-text {
    margin: auto;
    max-width: 1234px;
    padding: 148px 0; }
    @media (max-width: 768px) {
      #cours-intro .col-text {
        padding: 50px 15px; } }
    #cours-intro .col-text p {
      color: #313131;
      font-family: "canada-type-gibson", sans-serif;
      font-size: 40px;
      font-weight: 600;
      letter-spacing: 0; }
      @media (max-width: 768px) {
        #cours-intro .col-text p {
          font-size: 20px;
          line-height: initial; } }

#cours-pourquoi h2 {
  color: #313131;
  font-family: "canada-type-gibson", sans-serif;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 45px;
  margin-bottom: 97px; }
  @media (max-width: 768px) {
    #cours-pourquoi h2 {
      font-size: 30px;
      margin-bottom: 30px;
      padding: 0 15px; } }

#cours-pourquoi .col img {
  height: 100px; }

#cours-pourquoi .col h3 {
  color: #313131;
  font-family: "canada-type-gibson", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 18px;
  margin-top: 34px; }
  @media (max-width: 768px) {
    #cours-pourquoi .col h3 {
      font-size: 20px;
      line-height: initial;
      margin-bottom: 10px;
      margin-top: 20px; } }

#cours-pourquoi .col p.subtitle {
  color: #313131;
  font-family: "canada-type-gibson", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  margin: auto;
  margin-bottom: 38px;
  max-width: 320px; }
  @media (max-width: 768px) {
    #cours-pourquoi .col p.subtitle {
      font-size: 16px;
      line-height: initial;
      margin-bottom: 30px; } }

#cours-pourquoi .btn {
  font-family: "canada-type-gibson", sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 2.8px;
  line-height: 28px;
  margin-bottom: 150px;
  padding: 35px 69px;
  position: relative; }
  @media (max-width: 768px) {
    #cours-pourquoi .btn {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: initial;
      margin: 35px 15px 50px 15px;
      padding: 20px;
      white-space: break-spaces; } }

#cours-mission {
  background: transparent linear-gradient(180deg, #fff 0%, #efefef 100%) 0% 0% no-repeat padding-box; }
  #cours-mission .col {
    align-items: center;
    display: flex;
    position: relative; }
    @media (max-width: 1200px) {
      #cours-mission .col {
        flex-direction: column; } }
    #cours-mission .col .image {
      padding: 0; }
    #cours-mission .col .texte {
      background: #fff;
      margin-right: 100px;
      padding: 100px; }
      @media (max-width: 768px) {
        #cours-mission .col .texte {
          background: none;
          margin: 0;
          padding: 50px 15px; } }
      @media (max-width: 1400px) {
        #cours-mission .col .texte {
          background: none;
          margin-right: 0; } }
      #cours-mission .col .texte h2 {
        color: #313131;
        font-family: "canada-type-gibson", sans-serif;
        font-size: 35px;
        font-weight: 600;
        line-height: 45px; }
        @media (max-width: 768px) {
          #cours-mission .col .texte h2 {
            font-size: 30px;
            line-height: initial;
            margin-bottom: 30px; } }
      #cours-mission .col .texte p {
        color: #313131;
        font-family: "canada-type-gibson", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 20px; }

#cours-temoignages {
  background: #efefef;
  overflow: hidden;
  padding-bottom: 170px;
  padding-top: 143px;
  position: relative; }
  @media (max-width: 768px) {
    #cours-temoignages {
      padding-bottom: 50px;
      padding-top: 0; } }
  #cours-temoignages .col h2 {
    color: #313131;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      #cours-temoignages .col h2 {
        font-size: 30px;
        line-height: initial;
        padding: 0 15px; } }
  #cours-temoignages .slider {
    margin-left: -150px;
    width: calc(100% + 300px); }
    @media (max-width: 768px) {
      #cours-temoignages .slider {
        margin: 0;
        width: 100%; } }
    #cours-temoignages .slider .slide {
      padding: 0 8px; }
      @media (max-width: 768px) {
        #cours-temoignages .slider .slide .inner-slide {
          display: flex;
          flex-direction: row;
          gap: 10px; } }
      #cours-temoignages .slider .slide .temoignage {
        background: #fff;
        margin-bottom: 20px;
        padding: 67px; }
        @media (max-width: 768px) {
          #cours-temoignages .slider .slide .temoignage {
            margin-bottom: 0;
            padding: 15px;
            width: 50%; } }
        #cours-temoignages .slider .slide .temoignage:first-child {
          height: 400px;
          margin-left: -50%;
          width: 100%; }
          @media (max-width: 768px) {
            #cours-temoignages .slider .slide .temoignage:first-child {
              height: auto;
              margin: auto;
              width: 50%; } }
        #cours-temoignages .slider .slide .temoignage p {
          color: #313131;
          font-family: "canada-type-gibson", sans-serif;
          font-size: 30px;
          font-style: italic;
          font-weight: 600;
          line-height: 40px;
          text-align: center; }
          @media (max-width: 768px) {
            #cours-temoignages .slider .slide .temoignage p {
              font-size: 16px;
              font-weight: 300;
              line-height: initial; } }
          @media (max-width: 1400px) {
            #cours-temoignages .slider .slide .temoignage p {
              font-size: 20px;
              line-height: initial; } }
          #cours-temoignages .slider .slide .temoignage p.from {
            color: #EF1F24;
            font-size: 20px;
            font-style: initial;
            font-weight: 300;
            line-height: 28px;
            text-transform: uppercase; }
    #cours-temoignages .slider button {
      border: none;
      color: transparent;
      height: 100%;
      position: absolute;
      top: 0;
      width: 140px;
      z-index: 1; }
      @media (max-width: 768px) {
        #cours-temoignages .slider button {
          width: 40px; } }
      #cours-temoignages .slider button.slick-prev {
        background: linear-gradient(90deg, #efefef, transparent);
        left: 150px; }
        @media (max-width: 768px) {
          #cours-temoignages .slider button.slick-prev {
            left: 0; } }
        #cours-temoignages .slider button.slick-prev:before {
          background-image: url("../img/icon.arrow.slider.red.svg");
          content: '';
          height: 86px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
          width: 86px; }
          @media (max-width: 768px) {
            #cours-temoignages .slider button.slick-prev:before {
              height: 30px;
              width: 30px; } }
      #cours-temoignages .slider button.slick-next {
        background: linear-gradient(270deg, #efefef, transparent);
        right: 150px; }
        @media (max-width: 768px) {
          #cours-temoignages .slider button.slick-next {
            right: 0; } }
        #cours-temoignages .slider button.slick-next:before {
          background-image: url("../img/icon.arrow.slider.red.svg");
          content: '';
          height: 86px;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 86px; }
          @media (max-width: 768px) {
            #cours-temoignages .slider button.slick-next:before {
              height: 30px;
              width: 30px; } }
      #cours-temoignages .slider button:focus {
        outline: 0; }

#cours-infos {
  background: #efefef; }
  #cours-infos.cours-junior {
    padding-top: 122px; }
    #cours-infos.cours-junior .col .texte .grid h3 {
      text-transform: uppercase; }
  #cours-infos .col {
    align-items: center;
    display: flex;
    position: relative; }
    @media (max-width: 1200px) {
      #cours-infos .col {
        flex-direction: column-reverse; } }
    #cours-infos .col .image {
      padding: 0; }
    #cours-infos .col .texte {
      background: #fff;
      margin-left: 100px;
      padding: 60px; }
      @media (max-width: 768px) {
        #cours-infos .col .texte {
          background: none;
          margin: 0;
          padding: 50px 15px; } }
      @media (max-width: 1400px) {
        #cours-infos .col .texte {
          margin-left: 0; } }
      #cours-infos .col .texte h2 {
        color: #313131;
        font-family: "canada-type-gibson", sans-serif;
        font-size: 45px;
        font-weight: 600;
        line-height: 45px;
        margin-bottom: 38px; }
        @media (max-width: 768px) {
          #cours-infos .col .texte h2 {
            font-size: 30px;
            line-height: initial;
            margin-top: 0; } }
      #cours-infos .col .texte .grid {
        display: grid;
        grid-template-columns: 200px 1fr; }
        @media (max-width: 768px) {
          #cours-infos .col .texte .grid {
            grid-template-columns: 1fr; } }
        #cours-infos .col .texte .grid h3 {
          color: #EF1F24;
          font-family: "canada-type-gibson", sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 28px;
          margin-top: 0; }
        #cours-infos .col .texte .grid img {
          margin-right: 18px;
          width: 18px; }
        #cours-infos .col .texte .grid .left {
          align-items: start;
          display: flex; }
        #cours-infos .col .texte .grid .right p {
          color: #313131;
          font-family: "canada-type-gibson", sans-serif;
          font-size: 15px;
          font-weight: 300;
          line-height: 20px;
          margin-bottom: 20px; }
      #cours-infos .col .texte .btn {
        font-family: "canada-type-gibson", sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 28px;
        margin-bottom: 0;
        padding: 23px 22px;
        position: relative; }
        @media (max-width: 768px) {
          #cours-infos .col .texte .btn {
            font-size: 20px;
            letter-spacing: 1px;
            line-height: initial;
            margin: 35px 15px 0px 15px;
            padding: 20px;
            white-space: break-spaces; } }

#cours-sites {
  background: transparent linear-gradient(180deg, #efefef 0%, #fff 100%) 0% 0% no-repeat padding-box;
  margin-bottom: 150px;
  padding-top: 92px; }
  @media (max-width: 768px) {
    #cours-sites {
      margin-bottom: 0;
      padding: 50px 15px; } }
  #cours-sites .btn {
    font-family: "canada-type-gibson", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 24px;
    margin-bottom: 47px;
    padding: 22px 32px;
    position: relative; }
    @media (max-width: 768px) {
      #cours-sites .btn {
        display: none; } }
  #cours-sites h2 {
    color: #313131;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      #cours-sites h2 {
        font-size: 30px;
        line-height: initial;
        margin-top: 0; } }
  #cours-sites .sites {
    display: grid;
    gap: 86px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 1374px; }
    @media (max-width: 768px) {
      #cours-sites .sites {
        gap: 20px;
        grid-template-columns: 1fr; } }
    #cours-sites .sites .site a {
      align-items: flex-end;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      display: flex;
      height: 450px;
      position: relative;
      width: 100%; }
      @media (max-width: 1200px) {
        #cours-sites .sites .site a {
          height: 250px; } }
      #cours-sites .sites .site a h3 {
        color: #fff;
        font-family: "canada-type-gibson", sans-serif;
        font-size: 40px;
        font-weight: 200;
        letter-spacing: 0;
        line-height: 28px;
        margin-bottom: 0;
        margin-top: 0;
        text-transform: uppercase;
        z-index: 2; }
      #cours-sites .sites .site a:before {
        background-color: #313131;
        content: '';
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: all 0.2s ease-in-out;
        width: 100%; }
      #cours-sites .sites .site a:hover {
        text-decoration: none; }
        #cours-sites .sites .site a:hover:before {
          opacity: 0.63;
          transition: all 0.2s ease-in-out; }
    #cours-sites .sites .site:nth-child(2n) {
      margin-top: 26px; }

#cours-reservations {
  margin-bottom: 100px;
  margin-top: 150px; }
  @media (max-width: 768px) {
    #cours-reservations {
      margin-bottom: 50px;
      margin-top: 50px; } }
  #cours-reservations h2 {
    color: #313131;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 28px; }
    @media (max-width: 768px) {
      #cours-reservations h2 {
        font-size: 30px;
        line-height: initial;
        margin-top: 0;
        padding: 0 15px; } }
  #cours-reservations .reservations .reservation {
    align-items: center;
    background: #eaeaea;
    box-shadow: 0px 2px 6px #00000029;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 13px; }
    @media (max-width: 768px) {
      #cours-reservations .reservations .reservation {
        grid-template-columns: 1fr;
        padding: 20px;
        text-align: center; } }
    #cours-reservations .reservations .reservation:nth-child(2n) {
      background: #efefef; }
    #cours-reservations .reservations .reservation .col1 {
      color: #313131;
      font-family: "canada-type-gibson", sans-serif;
      font-size: 27px;
      font-weight: 600;
      line-height: 32px;
      margin-left: 60px; }
      @media (max-width: 768px) {
        #cours-reservations .reservations .reservation .col1 {
          margin: 0 10px; } }
    #cours-reservations .reservations .reservation .col2 {
      color: #313131;
      font-family: "canada-type-gibson", sans-serif;
      font-size: 27px;
      font-weight: 400;
      line-height: 32px;
      text-align: center; }
      @media (max-width: 768px) {
        #cours-reservations .reservations .reservation .col2 {
          margin: 0 10px; } }
    #cours-reservations .reservations .reservation .col3 {
      text-align: right; }
      @media (max-width: 768px) {
        #cours-reservations .reservations .reservation .col3 {
          text-align: center; } }
    #cours-reservations .reservations .reservation .btn {
      font-family: "canada-type-gibson", sans-serif;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 25px;
      margin: 20px;
      padding: 20px 30px 20px 60px;
      position: relative;
      text-transform: uppercase; }
      @media (max-width: 768px) {
        #cours-reservations .reservations .reservation .btn {
          margin: 10px;
          white-space: initial; } }
      #cours-reservations .reservations .reservation .btn:before {
        background-image: url("../img/icon.addtobag.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        height: 21px;
        left: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 23px; }

#cours-grise {
  margin-bottom: 158px; }
  @media (max-width: 768px) {
    #cours-grise {
      margin-bottom: 50px; } }
  #cours-grise .grise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 474px; }
    @media (max-width: 1200px) {
      #cours-grise .grise {
        grid-template-columns: 1fr; } }
    #cours-grise .grise .left, #cours-grise .grise .right {
      padding-bottom: 109px;
      padding-top: 109px;
      text-align: center; }
      @media (max-width: 768px) {
        #cours-grise .grise .left, #cours-grise .grise .right {
          padding: 50px 15px; } }
      #cours-grise .grise .left h2, #cours-grise .grise .right h2 {
        color: #fff;
        font-family: "canada-type-gibson", sans-serif;
        font-size: 54px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 45px;
        margin-bottom: 10px; }
        @media (max-width: 768px) {
          #cours-grise .grise .left h2, #cours-grise .grise .right h2 {
            font-size: 30px;
            line-height: initial;
            margin-top: 0;
            padding: 0 15px; } }
      #cours-grise .grise .left p, #cours-grise .grise .right p {
        color: #fff;
        font-family: "canada-type-gibson", sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        margin: auto;
        max-width: 500px; }
        #cours-grise .grise .left p.nom, #cours-grise .grise .right p.nom {
          margin-top: 20px; }
      #cours-grise .grise .left a, #cours-grise .grise .right a {
        color: #EF1F24;
        font-family: "canada-type-gibson", sans-serif;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 28px;
        text-decoration: underline; }
    #cours-grise .grise .left {
      background: #313131; }
    #cours-grise .grise .right {
      background: #4f4f4f; }

#cours-juniors-reservations {
  background: transparent linear-gradient(180deg, #EFEFEF 0%, #FFFFFF 70%) 0% 0% no-repeat padding-box;
  margin-bottom: 100px;
  padding-top: 150px; }
  @media (max-width: 768px) {
    #cours-juniors-reservations {
      margin-bottom: 50px;
      margin-top: 50px; } }
  #cours-juniors-reservations h2 {
    color: #313131;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 28px; }
    @media (max-width: 768px) {
      #cours-juniors-reservations h2 {
        font-size: 30px;
        line-height: initial;
        margin-top: 0;
        padding: 0 15px; } }
  #cours-juniors-reservations .cours-junior .reservation {
    align-items: center;
    background: #eaeaea;
    box-shadow: 0px 2px 6px #00000029;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 13px; }
    @media (max-width: 768px) {
      #cours-juniors-reservations .cours-junior .reservation {
        grid-template-columns: 1fr;
        padding: 20px;
        text-align: center; } }
    #cours-juniors-reservations .cours-junior .reservation:nth-child(2n) {
      background: #efefef; }
    #cours-juniors-reservations .cours-junior .reservation .col1 {
      color: #313131;
      font-family: "canada-type-gibson", sans-serif;
      font-size: 27px;
      font-weight: 600;
      line-height: 32px;
      margin-left: 60px; }
      @media (max-width: 768px) {
        #cours-juniors-reservations .cours-junior .reservation .col1 {
          margin: 0 10px; } }
    #cours-juniors-reservations .cours-junior .reservation .col2 {
      color: #313131;
      font-family: "canada-type-gibson", sans-serif;
      font-size: 27px;
      font-weight: 400;
      line-height: 32px;
      text-align: center; }
      @media (max-width: 768px) {
        #cours-juniors-reservations .cours-junior .reservation .col2 {
          margin: 0 10px; } }
    #cours-juniors-reservations .cours-junior .reservation .col3 {
      text-align: right; }
      @media (max-width: 768px) {
        #cours-juniors-reservations .cours-junior .reservation .col3 {
          text-align: center; } }
    #cours-juniors-reservations .cours-junior .reservation .btn {
      font-family: "canada-type-gibson", sans-serif;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 25px;
      margin: 20px;
      padding: 20px 30px 20px 60px;
      position: relative;
      text-transform: uppercase; }
      @media (max-width: 768px) {
        #cours-juniors-reservations .cours-junior .reservation .btn {
          margin: 10px;
          white-space: initial; } }
      #cours-juniors-reservations .cours-junior .reservation .btn:before {
        background-image: url("../img/icon.addtobag.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        height: 21px;
        left: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 23px; }

.accordion {
  background: #eaeaea;
  box-shadow: 0px 2px 6px #00000029;
  margin-bottom: 13px; }
  .accordion:nth-child(2n) {
    background: #efefef; }
  .accordion .accordion-header {
    align-items: center;
    cursor: pointer;
    display: grid;
    font-family: "canada-type-gibson", sans-serif;
    grid-template-columns: 1fr 250px 150px 1fr; }
    @media (max-width: 1200px) {
      .accordion .accordion-header {
        grid-template-columns: 1fr 1fr; }
        .accordion .accordion-header.active .horaire-mobile, .accordion .accordion-header.active .age-mobile {
          display: flex !important;
          align-items: center; }
        .accordion .accordion-header .title {
          font-size: 16px !important; } }
    @media (max-width: 768px) {
      .accordion .accordion-header {
        grid-template-columns: 1fr; }
        .accordion .accordion-header .reserver {
          text-align: center !important; }
        .accordion .accordion-header .title {
          padding-top: 20px;
          padding-left: 20px !important;
          text-align: center; }
          .accordion .accordion-header .title img {
            margin-left: 7px !important; }
        .accordion .accordion-header .horaire-mobile, .accordion .accordion-header .age-mobile {
          justify-content: center; } }
    .accordion .accordion-header .title {
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
      padding-left: 60px;
      padding-right: 20px; }
      .accordion .accordion-header .title img {
        margin-left: 20px;
        max-width: 15px;
        transform: rotate(90deg); }
      .accordion .accordion-header .title .horaire-mobile, .accordion .accordion-header .title .age-mobile {
        display: none;
        font-size: 10px;
        font-weight: 300; }
      .accordion .accordion-header .title .horaire-mobile img {
        margin-top: 0;
        transform: none;
        margin-left: 0; }
      .accordion .accordion-header .title .horaire-mobile p {
        margin: 0;
        line-height: initial;
        margin-left: 10px; }
      .accordion .accordion-header .title .age-mobile img {
        margin-top: 10px;
        transform: none;
        margin-left: 0; }
      .accordion .accordion-header .title .age-mobile p {
        margin-top: 10px;
        line-height: initial;
        margin-left: 10px;
        margin-bottom: 0; }
    .accordion .accordion-header .horaire, .accordion .accordion-header .age {
      align-items: center;
      display: flex; }
      .accordion .accordion-header .horaire img, .accordion .accordion-header .age img {
        margin-right: 15px;
        max-width: 23px; }
      .accordion .accordion-header .horaire p, .accordion .accordion-header .age p {
        margin-bottom: 0; }
      @media (max-width: 1200px) {
        .accordion .accordion-header .horaire, .accordion .accordion-header .age {
          display: none; } }
    .accordion .accordion-header .btn {
      background: #EF1F24 url("../img/icon.addtobag.svg") no-repeat left 23px center;
      font-family: "canada-type-gibson", sans-serif;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 28px;
      margin: 20px;
      padding: 20px 30px 20px 60px;
      position: relative; }
      @media (max-width: 1200px) {
        .accordion .accordion-header .btn {
          background: #EF1F24 url("../img/icon.addtobag.svg") no-repeat left 15px center;
          padding: 10px 10px 10px 40px;
          background-size: 18px;
          font-size: 15px;
          letter-spacing: 1px; } }
    .accordion .accordion-header .reserver {
      text-align: right; }
  .accordion .panel {
    background-color: transparent;
    background-position: right bottom;
    background-repeat: no-repeat;
    border: 0;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 60px;
    transition: max-height 0.15s ease-out;
    transition: padding 0.15s ease-out; }
    @media (max-width: 768px) {
      .accordion .panel {
        padding: 0 20px; } }
    @media (max-width: 1200px) {
      .accordion .panel {
        grid-template-columns: 1fr 1fr;
        gap: 10px; }
        .accordion .panel .col2 img {
          max-width: 150px; }
        .accordion .panel .col3 {
          display: grid;
          grid-template-columns: 1fr 1fr; }
          .accordion .panel .col3 p:first-child {
            grid-column: 1;
            grid-row: 1; }
          .accordion .panel .col3 img {
            max-width: 50px !important;
            grid-column: 1;
            grid-row: 2; } }
    @media (max-width: 768px) {
      .accordion .panel {
        grid-template-columns: 1fr; } }
    .accordion .panel .titre-infos-camp {
      color: #313131;
      font-family: "canada-type-gibson", sans-serif;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 20px; }
    .accordion .panel ul {
      margin: 0;
      padding: 0 10px; }
      .accordion .panel ul li {
        font-family: "canada-type-gibson", sans-serif;
        font-size: 15px;
        font-weight: 200;
        list-style-type: circle; }
        .accordion .panel ul li::marker {
          color: #EF1F24; }
    .accordion .panel p {
      font-family: "canada-type-gibson", sans-serif;
      font-size: 15px;
      font-weight: 200; }

#slider-equipe {
  height: 66vh;
  background-size: cover;
  background-position: 50% 40%;
  align-items: start;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  #slider-equipe h1 {
    color: #fff;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 138px;
    font-weight: 600;
    margin: 0;
    margin-left: 69px;
    max-width: 900px; }
    @media (max-width: 1200px) {
      #slider-equipe h1 {
        font-size: 100px;
        line-height: initial; } }
    @media (max-width: 768px) {
      #slider-equipe h1 {
        font-size: 50px;
        line-height: initial;
        margin: 0 20px; } }
  #slider-equipe p.subtitle {
    color: #fff;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    margin-left: 69px;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      #slider-equipe p.subtitle {
        font-size: 20px;
        line-height: initial;
        margin: 0 20px 40px 20px; } }

#equipe {
  padding-top: 112px;
  padding-bottom: 252px; }
  #equipe .grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 120px 0; }
    @media screen and (max-width: 1200px) {
      #equipe .grid {
        grid-template-columns: 50% 50%;
        gap: 60px 0; } }
    @media screen and (max-width: 768px) {
      #equipe .grid {
        grid-template-columns: 100%;
        margin: 0;
        gap: 30px 0; } }
    #equipe .grid .member .inner {
      margin: 0 42px;
      min-height: 450px;
      display: flex;
      align-items: flex-end;
      background-size: cover;
      background-position: center;
      position: relative;
      cursor: url("../img/icon.plus.svg"), auto; }
      @media screen and (max-width: 1200px) {
        #equipe .grid .member .inner {
          min-height: 350px; } }
      @media screen and (max-width: 768px) {
        #equipe .grid .member .inner {
          margin: 0;
          overflow: hidden; } }
      #equipe .grid .member .inner .lien-cours {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 60px;
        background: #EF1F24 url("../img/icon.reserver.svg") no-repeat right 12px center;
        z-index: 3;
        transition: width 0.3s ease;
        transition-delay: 0.3s; }
        #equipe .grid .member .inner .lien-cours:before {
          opacity: 0;
          transition: all 0.3s ease;
          content: 'Réserver des cours';
          position: absolute;
          left: 24px;
          display: block;
          height: 100%;
          align-items: center;
          width: 100%;
          line-height: 60px;
          font-size: 20px;
          text-transform: uppercase;
          color: #fff;
          font-family: "canada-type-gibson", sans-serif;
          letter-spacing: 2px; }
        #equipe .grid .member .inner .lien-cours:hover {
          width: 320px;
          transition: width 0.3s ease; }
          #equipe .grid .member .inner .lien-cours:hover:before {
            content: 'Réserver des cours';
            position: absolute;
            left: 24px;
            display: block;
            height: 100%;
            align-items: center;
            width: 100%;
            line-height: 60px;
            font-size: 20px;
            text-transform: uppercase;
            color: #fff;
            font-family: "canada-type-gibson", sans-serif;
            letter-spacing: 2px;
            opacity: 1;
            transition: all 0.3s ease;
            transition-delay: 0.3s; }
      #equipe .grid .member .inner h3 {
        font-family: "canada-type-gibson", sans-serif;
        font-weight: 200;
        font-size: 40px;
        line-height: 40px;
        color: #fff;
        letter-spacing: 0;
        text-transform: uppercase;
        z-index: 2;
        margin-bottom: 0; }
        @media screen and (max-width: 1200px) {
          #equipe .grid .member .inner h3 {
            font-size: 33px;
            line-height: initial; } }
      #equipe .grid .member .inner .hover {
        position: absolute;
        height: 100%;
        vertical-align: middle;
        align-items: center;
        display: none;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0 20px;
        width: 100%; }
        #equipe .grid .member .inner .hover p {
          font-family: "canada-type-gibson", sans-serif;
          font-size: 36px;
          line-height: 44px;
          font-style: italic;
          font-weight: 400;
          color: #fff; }
          @media screen and (max-width: 1200px) {
            #equipe .grid .member .inner .hover p {
              font-size: 16px;
              line-height: initial; } }
        #equipe .grid .member .inner .hover .btn-team {
          position: absolute;
          bottom: 0;
          width: 100%;
          border-top: 1px solid white;
          padding: 32px 0;
          text-align: center; }
          @media screen and (max-width: 1200px) {
            #equipe .grid .member .inner .hover .btn-team {
              padding: 12px 0; } }
          #equipe .grid .member .inner .hover .btn-team span {
            color: #fff;
            font-family: "canada-type-gibson", sans-serif;
            font-size: 20px;
            letter-spacing: 2px;
            margin-left: -48px;
            position: relative;
            text-transform: uppercase; }
            #equipe .grid .member .inner .hover .btn-team span:after {
              background-image: url("../img/icon.arrow.svg");
              background-repeat: no-repeat;
              background-size: cover;
              content: ' ';
              height: 22px;
              left: calc(100% + 10px);
              position: absolute;
              width: 48px;
              top: 50%;
              transform: translateY(-50%); }
      #equipe .grid .member .inner:hover > h3 {
        opacity: 0; }
      #equipe .grid .member .inner:hover .hover {
        display: flex;
        opacity: 1;
        transition: all 0.5s ease-in-out; }
      #equipe .grid .member .inner:before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        mix-blend-mode: multiply;
        background-color: #313131;
        transition: all 0.2s ease-in-out;
        opacity: 0; }
      #equipe .grid .member .inner:hover:before {
        transition: all 0.2s ease-in-out;
        opacity: 1; }
    #equipe .grid .member:nth-child(3n-1) {
      margin-top: 26px; }
      @media screen and (max-width: 768px) {
        #equipe .grid .member:nth-child(3n-1) {
          margin-top: 0; } }

.woocommerce:not(.single-product) {
  margin: 200px 0;
  font-family: "canada-type-gibson", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #313131; }
  @media (max-width: 768px) {
    .woocommerce:not(.single-product) {
      margin: 50px 15px; } }
  .woocommerce:not(.single-product) label {
    font-weight: 600; }
  .woocommerce:not(.single-product) .woocommerce-info {
    border-top-color: #EF1F24;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #313131;
    background-color: #efefef; }
    .woocommerce:not(.single-product) .woocommerce-info:before {
      color: #EF1F24; }
  .woocommerce:not(.single-product) .woocommerce-notice {
    background: #efefef;
    padding: 20px;
    margin-bottom: 20px; }
  .woocommerce:not(.single-product) ul.order_details {
    padding: 0; }
  .woocommerce:not(.single-product) a.button, .woocommerce:not(.single-product) a.button.alt, .woocommerce:not(.single-product) button.button, .woocommerce:not(.single-product) button.button.alt {
    font-family: "canada-type-gibson", sans-serif;
    font-size: 20px;
    font-weight: 300 !important;
    letter-spacing: 2px;
    line-height: initial;
    position: relative;
    background-color: #EF1F24;
    color: #fff;
    transition: all 0.2s ease;
    -webkit-font-smoothing: auto; }
    .woocommerce:not(.single-product) a.button:hover, .woocommerce:not(.single-product) a.button.alt:hover, .woocommerce:not(.single-product) button.button:hover, .woocommerce:not(.single-product) button.button.alt:hover {
      background-color: #B50A0F;
      color: #fff;
      transition: all 0.2s ease; }
    @media (max-width: 768px) {
      .woocommerce:not(.single-product) a.button, .woocommerce:not(.single-product) a.button.alt, .woocommerce:not(.single-product) button.button, .woocommerce:not(.single-product) button.button.alt {
        font-size: 20px;
        padding: 20px;
        line-height: initial;
        letter-spacing: 1px;
        float: none !important;
        margin: 10px auto;
        width: -webkit-fit-content !important;
        width: -moz-fit-content !important;
        width: fit-content !important; } }
  .woocommerce:not(.single-product) .woocommerce-message {
    border-top-color: #EF1F24;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #313131;
    background-color: #efefef; }
    .woocommerce:not(.single-product) .woocommerce-message:before {
      color: #EF1F24; }
  .woocommerce:not(.single-product) table.shop_table {
    border-color: #efefef; }
    .woocommerce:not(.single-product) table.shop_table th, .woocommerce:not(.single-product) table.shop_table tbody th, .woocommerce:not(.single-product) table.shop_table tfoot th, .woocommerce:not(.single-product) table.shop_table tfoot td {
      font-weight: 600; }
  .woocommerce:not(.single-product) table.cart input.input-text {
    width: auto !important;
    font-size: 20px;
    padding: 0.4em 1em !important; }
    @media (max-width: 768px) {
      .woocommerce:not(.single-product) table.cart input.input-text {
        float: none !important; } }
  @media (max-width: 768px) {
    .woocommerce:not(.single-product) .coupon {
      text-align: center; } }
  .woocommerce:not(.single-product) a {
    color: #EF1F24; }
  .woocommerce:not(.single-product) #add_payment_method #payment, .woocommerce:not(.single-product) .woocommerce-cart #payment, .woocommerce:not(.single-product) .woocommerce-checkout #payment {
    background-color: #efefef; }
  .woocommerce:not(.single-product) form .form-row-last, .woocommerce:not(.single-product) form .form-row-first {
    float: none;
    width: 100%; }

.woocommerce .btn.theme.grand {
  border-radius: 0; }

.woocommerce input[type="number"] {
  height: 48px;
  border-radius: 0;
  border-style: solid;
  border: 1px solid black; }
  @media (max-width: 768px) {
    .woocommerce input[type="number"] {
      height: 64px;
      margin: 10px auto; } }

.woocommerce .woocommerce table.shop_table_responsive tr td::before,
.woocommerce .woocommerce-page table.shop_table_responsive tr td::before {
  font-weight: 600; }

.woocommerce .woocommerce-error .wc-backward {
  display: none; }

.wpcf7 {
  margin: 200px 0;
  font-family: "canada-type-gibson", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #313131; }
  @media (max-width: 768px) {
    .wpcf7 {
      margin: 50px 15px; } }
  .wpcf7 h2 {
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 600;
    color: #313131;
    font-size: 54px;
    line-height: 45px;
    letter-spacing: 0;
    margin-bottom: 97px; }
    @media (max-width: 768px) {
      .wpcf7 h2 {
        font-size: 30px;
        padding: 0 15px;
        margin-bottom: 30px; } }
  .wpcf7 h3 {
    font-size: 30px;
    font-family: "canada-type-gibson", sans-serif;
    line-height: 36px;
    color: #313131;
    font-weight: 600;
    margin-top: 34px;
    margin-bottom: 18px; }
    @media (max-width: 768px) {
      .wpcf7 h3 {
        font-size: 20px;
        line-height: initial;
        margin-top: 20px;
        margin-bottom: 10px; } }
  .wpcf7 label {
    font-weight: 600; }
  .wpcf7 .wpcf7-checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 800px; }
    @media (max-width: 768px) {
      .wpcf7 .wpcf7-checkbox {
        grid-template-columns: 1fr 1fr; } }
    .wpcf7 .wpcf7-checkbox .wpcf7-list-item {
      margin: 0; }
  .wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 input[type=tel], .wpcf7 input[type=date], .wpcf7 textarea {
    margin-bottom: 5px;
    border: 1px solid #313131;
    border-radius: 0;
    padding: 10px;
    width: 100%; }
  .wpcf7 .allergie input, .wpcf7 .sante input {
    width: 100%; }
  .wpcf7 .grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto; }
    .wpcf7 .grid input {
      width: 99%; }
  .wpcf7 input[type=submit] {
    font-family: "canada-type-gibson", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 20px;
    position: relative; }

#wpcf7-f1091-p1087-o1 {
  margin-top: 0; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  width: 80%;
  /* Could be more or less, depending on screen size */
  border-radius: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto; }
  @media screen and (max-width: 768px) {
    .modal-content {
      top: 10px;
      transform: none; } }
  .modal-content .inner-modal {
    display: grid;
    grid-template-columns: 45% 55%;
    width: 100%; }
    @media screen and (max-width: 1000px) {
      .modal-content .inner-modal {
        grid-template-columns: 100%; }
        .modal-content .inner-modal div:nth-child(1) {
          display: none; } }
    .modal-content .inner-modal .photo {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: flex;
      align-items: flex-end; }
      .modal-content .inner-modal .photo h2 {
        max-width: 80%;
        margin: 0 auto 120px auto;
        text-align: center;
        font-family: "canada-type-gibson", sans-serif;
        color: #fff;
        font-weight: 400;
        font-style: italic;
        font-size: 35px; }
      .modal-content .inner-modal .photo .lien-membre-precedent {
        position: absolute;
        bottom: -25px;
        background: #EF1F24;
        left: 22.5%;
        transform: translateX(-50%);
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-family: "canada-type-gibson", sans-serif;
        letter-spacing: 2px;
        padding: 20px 24px 20px 54px;
        display: inline-block;
        margin-top: 20px; }
        @media screen and (max-width: 1200px) {
          .modal-content .inner-modal .photo .lien-membre-precedent {
            padding: 10px 14px 10px 34px;
            font-size: 13px;
            letter-spacing: 1px; } }
        .modal-content .inner-modal .photo .lien-membre-precedent:before {
          background: url("../img/icon.arrow.svg");
          background-size: cover;
          content: '';
          width: 36px;
          height: 17px;
          position: absolute;
          left: 12px;
          top: 50%;
          transform: translateY(-50%) rotate(180deg); }
          @media screen and (max-width: 1200px) {
            .modal-content .inner-modal .photo .lien-membre-precedent:before {
              width: 16px;
              height: 8px;
              position: absolute;
              right: 12px; } }
        .modal-content .inner-modal .photo .lien-membre-precedent:hover {
          text-decoration: none;
          background: #c8171b; }
    .modal-content .inner-modal > .text {
      padding: 60px;
      position: relative; }
      @media screen and (max-width: 1200px) {
        .modal-content .inner-modal > .text {
          padding: 40px; } }
      @media screen and (max-width: 1000px) {
        .modal-content .inner-modal > .text {
          padding: 40px 20px; } }
      .modal-content .inner-modal > .text h2 {
        font-family: "canada-type-gibson", sans-serif;
        color: #313131;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 44px;
        line-height: 45px; }
        @media screen and (max-width: 1200px) {
          .modal-content .inner-modal > .text h2 {
            font-size: 25px;
            line-height: initial; } }
      .modal-content .inner-modal > .text h3 {
        margin-top: 0;
        font-size: 25px;
        line-height: 45px;
        font-weight: 600;
        font-family: "canada-type-gibson", sans-serif;
        font-style: italic;
        margin-bottom: 40px; }
        @media screen and (max-width: 1200px) {
          .modal-content .inner-modal > .text h3 {
            font-size: 16px;
            line-height: initial;
            margin-bottom: 20px; } }
      .modal-content .inner-modal > .text .programmes, .modal-content .inner-modal > .text .experience, .modal-content .inner-modal > .text .valeur, .modal-content .inner-modal > .text .raquette, .modal-content .inner-modal > .text .description, .modal-content .inner-modal > .text .certifications {
        margin-bottom: 10px; }
        .modal-content .inner-modal > .text .programmes p, .modal-content .inner-modal > .text .experience p, .modal-content .inner-modal > .text .valeur p, .modal-content .inner-modal > .text .raquette p, .modal-content .inner-modal > .text .description p, .modal-content .inner-modal > .text .certifications p {
          display: inline;
          font-size: 16px;
          font-family: "canada-type-gibson", sans-serif; }
        .modal-content .inner-modal > .text .programmes .title, .modal-content .inner-modal > .text .experience .title, .modal-content .inner-modal > .text .valeur .title, .modal-content .inner-modal > .text .raquette .title, .modal-content .inner-modal > .text .description .title, .modal-content .inner-modal > .text .certifications .title {
          color: #EF1F24;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1.2px; }
        .modal-content .inner-modal > .text .programmes .text, .modal-content .inner-modal > .text .experience .text, .modal-content .inner-modal > .text .valeur .text, .modal-content .inner-modal > .text .raquette .text, .modal-content .inner-modal > .text .description .text, .modal-content .inner-modal > .text .certifications .text {
          font-weight: 200;
          color: #313131;
          letter-spacing: 0; }
      .modal-content .inner-modal > .text .lien-cours {
        background: #EF1F24 url("../img/icon.reserver.svg") no-repeat right 12px center;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-family: "canada-type-gibson", sans-serif;
        letter-spacing: 2px;
        padding: 20px 54px 20px 24px;
        display: inline-block;
        margin-top: 20px; }
        @media screen and (max-width: 1200px) {
          .modal-content .inner-modal > .text .lien-cours {
            background: #EF1F24 url("../img/icon.reserver.svg") no-repeat right 6px center/25px 25px;
            padding: 10px 34px 10px 14px;
            font-size: 13px;
            letter-spacing: 1px; } }
        .modal-content .inner-modal > .text .lien-cours:hover {
          text-decoration: none;
          background: #c8171b url("../img/icon.reserver.svg") no-repeat right 12px center; }
          @media screen and (max-width: 1200px) {
            .modal-content .inner-modal > .text .lien-cours:hover {
              background: #c8171b url("../img/icon.reserver.svg") no-repeat right 6px center/25px 25px; } }
      .modal-content .inner-modal > .text .lien-membre-suivant {
        position: absolute;
        bottom: -25px;
        background: #EF1F24;
        right: calc(22.5% - 136px);
        transform: translateX(-50%);
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-family: "canada-type-gibson", sans-serif;
        letter-spacing: 2px;
        padding: 20px 54px 20px 24px;
        display: inline-block;
        margin-top: 20px; }
        @media screen and (max-width: 1200px) {
          .modal-content .inner-modal > .text .lien-membre-suivant {
            padding: 10px 34px 10px 14px;
            font-size: 13px;
            letter-spacing: 1px; } }
        @media screen and (max-width: 1000px) {
          .modal-content .inner-modal > .text .lien-membre-suivant {
            right: calc(22.5% - 196px); } }
        @media screen and (max-width: 768px) {
          .modal-content .inner-modal > .text .lien-membre-suivant {
            font-size: 0;
            bottom: -10px;
            height: 40px;
            right: 0;
            width: 0;
            padding-right: 27px; } }
        .modal-content .inner-modal > .text .lien-membre-suivant:before {
          background: url("../img/icon.arrow.svg");
          background-size: cover;
          content: '';
          width: 36px;
          height: 17px;
          position: absolute;
          right: 12px; }
          @media screen and (max-width: 1200px) {
            .modal-content .inner-modal > .text .lien-membre-suivant:before {
              width: 16px;
              height: 8px;
              position: absolute;
              right: 12px;
              top: 50%;
              transform: translateY(-50%); } }
        .modal-content .inner-modal > .text .lien-membre-suivant:hover {
          text-decoration: none;
          background: #c8171b; }
      .modal-content .inner-modal > .text .lien-membre-precedent {
        position: absolute;
        bottom: -25px;
        background: #EF1F24;
        left: 22.5%;
        transform: translateX(-50%);
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-family: "canada-type-gibson", sans-serif;
        letter-spacing: 2px;
        padding: 20px 24px 20px 54px;
        display: inline-block;
        margin-top: 20px; }
        @media screen and (max-width: 1200px) {
          .modal-content .inner-modal > .text .lien-membre-precedent {
            padding: 10px 14px 10px 34px;
            font-size: 13px;
            letter-spacing: 1px; } }
        @media screen and (max-width: 768px) {
          .modal-content .inner-modal > .text .lien-membre-precedent {
            font-size: 0;
            bottom: -10px;
            height: 40px;
            left: 40px;
            width: 0;
            padding-left: 27px; } }
        .modal-content .inner-modal > .text .lien-membre-precedent:before {
          background: url("../img/icon.arrow.svg");
          background-size: cover;
          content: '';
          width: 36px;
          height: 17px;
          position: absolute;
          left: 12px;
          top: 50%;
          transform: translateY(-50%) rotate(180deg); }
          @media screen and (max-width: 1200px) {
            .modal-content .inner-modal > .text .lien-membre-precedent:before {
              width: 16px;
              height: 8px;
              position: absolute;
              right: 12px; } }
        .modal-content .inner-modal > .text .lien-membre-precedent:hover {
          text-decoration: none;
          background: #c8171b; }

/* The Close Button */
.close {
  color: #313131;
  position: absolute;
  right: 0;
  font-weight: 600;
  font-size: 16px;
  opacity: 1;
  padding: 20px;
  z-index: 121212; }
  .close img {
    margin-left: 16px; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

@media screen and (min-width: 1000px) {
  .desktop-hide {
    display: none !important; }
  .desktop-show {
    display: block; } }

@media screen and (max-width: 1000px) {
  .mobile-hide {
    display: none; }
  .mobile-show {
    display: block; } }

.page-template-page-defaut p {
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 30px;
  line-height: 34px; }

#generic-intro {
  position: relative; }
  #generic-intro .phrase-background {
    color: #efefef;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 300px;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    width: 100%;
    z-index: -1; }
    @media (max-width: 768px) {
      #generic-intro .phrase-background {
        display: none; } }
  #generic-intro .col-text {
    margin: auto;
    max-width: 1234px;
    padding: 148px 0; }
    @media (max-width: 768px) {
      #generic-intro .col-text {
        padding: 50px 15px; } }
    #generic-intro .col-text p {
      color: #313131;
      font-family: "canada-type-gibson", sans-serif;
      font-size: 40px;
      font-weight: 600;
      letter-spacing: 0; }
      @media (max-width: 768px) {
        #generic-intro .col-text p {
          font-size: 20px;
          line-height: initial; } }

#generic-section {
  margin-bottom: 200px; }
  @media (max-width: 1200px) {
    #generic-section {
      margin-bottom: 50px; } }
  @media (min-width: 1200px) {
    #generic-section:nth-child(2n) .texte {
      order: 2;
      margin-right: 100px;
      margin-left: 0 !important; }
    #generic-section:nth-child(2n) .image {
      order: 1; } }
  #generic-section .col {
    align-items: center;
    display: flex;
    position: relative; }
    @media (max-width: 1200px) {
      #generic-section .col {
        flex-direction: column-reverse; } }
    #generic-section .col .image {
      padding: 0; }
    #generic-section .col .texte {
      background: #fff;
      margin-left: 100px;
      padding: 60px; }
      @media (min-width: 1200px) {
        #generic-section .col .texte {
          box-shadow: 0px 3px 6px #00000029;
          border: 1px solid #EFEFEF; } }
      @media (max-width: 768px) {
        #generic-section .col .texte {
          background: none;
          margin: 0;
          padding: 50px 15px; } }
      @media (max-width: 1400px) {
        #generic-section .col .texte {
          margin-left: 0; } }
      #generic-section .col .texte h2, #generic-section .col .texte .h2 {
        color: #313131;
        font-family: "canada-type-gibson", sans-serif;
        font-size: 45px;
        font-weight: 600;
        line-height: 45px;
        margin-bottom: 38px; }
        @media (max-width: 768px) {
          #generic-section .col .texte h2, #generic-section .col .texte .h2 {
            font-size: 30px;
            line-height: initial;
            margin-top: 0; } }
      #generic-section .col .texte p {
        font-family: "canada-type-gibson", sans-serif;
        font-size: 22px;
        font-weight: 300; }
        @media (max-width: 1200px) {
          #generic-section .col .texte p {
            font-size: 16px; } }

/*# sourceMappingURL=global.css.map */
