$font-family: "canada-type-gibson",sans-serif;

$thin:200;
$normal: 300;
$book:400;
$medium: 600;
$bold: 900;

$red: #EF1F24;
$white: #fff;
$black: #313131;
$lighter-black: #4f4f4f;
$grey:#efefef;
$lighter-grey:#eaeaea;