
@font-face {
  font-family: 'DINCond-Medium';
  src: url('DINCond-Medium.eot?#iefix') format('embedded-opentype'),  url('DINCond-Medium.otf')  format('opentype'),
	     url('DINCond-Medium.woff') format('woff'), url('DINCond-Medium.ttf')  format('truetype'), url('DINCond-Medium.svg#DINCond-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
