.d-flex
{
  display:flex;
}
.align-items-center
{
  align-items: center;
}
.justify-content-end
{
  justify-content: flex-end;
}
.justify-content-center
{
  justify-content: center;
}
.grecaptcha-badge
{
  display:none;
}
.position-initial
{
  position:initial;
}
strong
{
  font-weight: $medium;
}