.infolettre {
  position:relative;
  margin-bottom: 116px;

  @media (max-width: 768px)
  {
    margin-bottom:0;
  }

  &:before {
    position: absolute;
    height: 137px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: $grey;
    content: '';
  }

  .container {
    background-color: #ef1e24;
    position: relative;


    .newsletter {
      padding: 68px 107px;
      display: flex;

      @media (max-width: 1200px) {
        flex-direction:column;
        padding:50px 15px;
      }



      h4
      {
        font-family: $font-family;
        font-size: 50px;
        color:$white;
        font-weight: $medium;
        letter-spacing: 0;

        @media (max-width: 768px) {
          font-size: 30px;
          line-height:initial;
        }
      }

      p.subtitle
      {
        color:$white;
        font-family:$font-family;
        font-size: 22px;
        line-height:24px;
        font-weight: $normal;

        @media (max-width: 768px) {
          font-size: 16px;
          line-height:initial;
        }
      }

      form {
        display: grid;
        position: relative;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;

        @media (max-width: 768px) {
          grid-template-columns: 1fr;
        }

        input {
          height: 64px;
          width: 100%;
          border: none;
          font-family: $font-family;
          font-size: 20px;
          padding: 0 15px;
          font-style: italic;
          border-radius:0;
        }
        div.btn-submit
        {
          bottom: -148px;
          position: absolute;
          right: 0;

          @media (max-width: 768px)
          {
            position: relative;
            bottom: 0;
          }

          @media (max-width: 1200px)
          {
            bottom:-88px;
          }

          .btn.submit
          {
            background:$black;
            font-family: $font-family;
            font-size: 20px;
            font-weight: $normal;
            letter-spacing: 2px;
            line-height: 28px;
            padding: 21px 95px 21px 41px;
            position: relative;
            transition: all 0.3s ease;

            @media (max-width: 768px)
            {
              font-size: 20px;
              padding: 20px;
              line-height: initial;
              letter-spacing: 1px;
              white-space: break-spaces;
              margin: 0;
              width: 100%;
            }

            &:after {
              background-image: url('../img/icon.arrow.svg');
              background-repeat: no-repeat;
              background-size: cover;
              content: ' ';
              height: 22px;
              position: absolute;
              right: 31px;
              width: 48px;
              top: 50%;
              transform: translateY(-50%);
              @media (max-width: 768px)
              {
                content:none;
              }
            }
          &:hover
          {
            border-color: $lighter-black;
            background: $lighter-black;
            transition: all 0.3s ease;
          }
          }
        }
      }
    }
  }
}

footer
{
  overflow: hidden;
  border-top:1px solid $black;
  @media (max-width: 768px)
  {
    border-top:none;
  }
  .col-logo
  {
    border-right: 1px solid $black;
    padding: 80px 118px;

    @media (max-width: 768px)
    {
      padding:50px 15px 0 15px;
      border-right:none;
    }

    @media (max-width: 1200px)
    {
      padding:100px 15px 0 15px;
    }
    img
    {
      margin-bottom:20px;
      max-width: 270px;
    }

    p,a
    {
      display:inline-block;
      font-family: $font-family;
      font-size: 20px;
      letter-spacing: 0;
      color: $black;
      font-weight: $normal;
      line-height: 22px;
      margin-bottom:26px;

      @media (max-width: 768px)
      {
        display:block;
      }
    }
  }
  .col-menu
  {

    @media (max-width: 768px)
    {
      padding: 50px 0;
    }
    .row div
    {
      padding:80px 0;

      @media (max-width: 768px)
      {
        padding: 0 15px;
        margin-bottom: 15px;
      }

      ul
      {
        margin: 0;
        padding: 0 80px;

        @media (max-width: 768px)
        {
          padding: 0;
        }

        @media (max-width: 1200px)
        {
          padding: 0 20px;
        }

        li
        {
          font-family: $font-family;
          font-size: 20px;
          line-height: initial;
          margin-bottom: 15px;
          font-weight: $normal;
          text-transform: uppercase;
          list-style: none;

          @media (max-width: 768px) {
            font-size:16px;
          }

          &:first-child {
            font-weight: $medium;
          }

          a
          {
            text-decoration: none!important;
            color:$black;
            transition:all 0.2s ease;

            &:hover
            {
              color:$lighter-black;
              transition:all 0.2s ease;
            }
          }
        }
      }
    }
  }
}