body {
  .main-menu {
    border-bottom: 1px solid white;
    position: absolute;
    width: 100%;
    z-index: 2;

    .row {
      width: 100%;
      margin: 0;
    }

    .logo {
      height: 95px;

      @media (max-width: 768px) {
        height: 78px;
        align-items: center;
        display: flex;
        z-index:2;
      }

      img {

        margin: 32px 24px;

        @media (max-width: 768px) {
          padding: 20px;
          max-width: 230px;
          margin: 0;
        }
      }
    }

    nav {
      margin-bottom: 0;

      a {
        color: white !important;
        font-family: $font-family;
        font-weight: $normal;
        letter-spacing: 2px;
        line-height: 65px;
        opacity: 0.8;
        text-transform: uppercase;

        &:hover {
          opacity: 1;
        }
      }

      .nav > li, &.navbar {
        position: unset;
      }

      .sub-menu {

        display: none;
        background-color:$red;
        left: 0;
        list-style: none;
        margin: 0;
        min-width: 100%;
        padding: 35px 15px 15px 15px;
        border-bottom: 0;
        z-index: 100;

        @media (min-width: 900px)
        {
          background-color: #000;
          position: absolute;
          top: 96px;
          padding: 37px 20%;
          border-bottom: 1px solid white;
          grid-template-columns: 1fr 1fr 1fr;
        }

        li {
          margin-bottom: 20px;

          a {
            line-height: 20px;
          }
        }

      }
    }

    .shopping-bag {
      align-items: center;
      background: $red;
      border-left: 1px solid $white;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 95px;

      @media (max-width: 900px) {
        display: none;
      }

      img {
        opacity: 0.8;
      }

      a:hover {
        img {
          opacity: 1;
        }
      }
    }

    .menu-nav {
      position: unset;
      padding-right: 0;

      .d-flex {
        align-items: center;
        height: 95px;

        @media (max-width: 768px) {
          height: 78px;
        }
      }
    }
  }
}

#menu-principal {

  @media (max-width: 900px) {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    background: black;
    padding-top: 78px;
    top: 0;
    margin: 0;

    > li:first-child {
      border-top: 1px solid $black;

      transition:border-top-color ease-in-out 0.1s;
    }

    &.open > li:first-child
    {
      transition-delay:0.5s;
      transition:border-top-color ease-in-out 0.2s;

    }
  }

  > li:hover > ul.sub-menu {
    display: grid;

    @media (max-width: 900px) {
      position: relative;
      display: none;
      top: 0;
      left: 0;
    }

  }
}

#slider-default {
  height: 66vh;
  background-size: cover;
  background-position: 50% 40%;
  align-items: start;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    color: $white;
    font-family: $font-family;
    font-size: 138px;
    font-weight: $medium;
    margin: 0;
    margin-left: 69px;
    max-width: 900px;
    line-height: 128px;

    @media (max-width: 1200px) {
      font-size: 100px;
      line-height: initial;

    }
    @media (max-width: 768px) {
      font-size: 50px;
      line-height: initial;
      margin: 0 20px;
    }
  }

  .h2
  {
    font-size: 90px;
    font-weight: $medium;
    line-height: 125px;
  }

  p.subtitle {
    color: $white;
    font-family: $font-family;
    font-size: 30px;
    line-height: 30px;
    font-weight: $normal;
    margin-left: 69px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: initial;
      margin: 0 20px 40px 20px;
    }
  }
}

.zone1 {
  margin-top: 200px;
}

@media (max-width: 900px) {
  .nav-button-holder {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 2;
  }

  .nav-button {
    cursor: pointer;
    float: right;
    height: 40px;
    margin-top: 9px;
    padding: 13px 6px 6px 6px;
    position: relative;
    width: 40px;

    span {
      background: #fff;
      float: left;
      height: 2px;
      margin-bottom: 4px;
      position: relative;
      width: 100%;
    }
  }
}
