#slider-cours {
  align-items: start;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: flex-end;

  h1 {
    color: $white;
    font-family: $font-family;
    font-size: 138px;
    font-weight: $medium;
    line-height: 128px;
    margin: 0;
    margin-left: 69px;
    max-width: 900px;

    @media (max-width: 1200px) {
      font-size: 100px;
      line-height: initial;

    }
    @media (max-width: 768px) {
      font-size: 50px;
      line-height: initial;
      margin: 0 20px;
    }
  }

  p.subtitle {
    color: $white;
    font-family: $font-family;
    font-size: 30px;
    font-weight: $normal;
    line-height: 30px;
    margin-bottom: 40px;
    margin-left: 69px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: initial;
      margin: 0 20px 40px 20px;
    }
  }
}

#cours-intro {
  position: relative;

  .phrase-background {
    color: #efefef;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 300px;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    width: 100%;
    z-index: -1;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .col-text {
    margin: auto;
    max-width: 1234px;
    padding: 148px 0;

    @media (max-width: 768px) {
      padding: 50px 15px;
    }

    p {
      color: $black;
      font-family: $font-family;
      font-size: 40px;
      font-weight: $medium;
      letter-spacing: 0;

      @media (max-width: 768px) {
        font-size: 20px;
        line-height: initial;
      }
    }
  }
}

#cours-pourquoi {
  h2 {
    color: $black;
    font-family: $font-family;
    font-size: 54px;
    font-weight: $medium;
    letter-spacing: 0;
    line-height: 45px;
    margin-bottom: 97px;

    @media (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 30px;
      padding: 0 15px;
    }
  }

  .col {

    img {
      height: 100px;
    }

    h3 {
      color: $black;
      font-family: $font-family;
      font-size: 30px;
      font-weight: $medium;
      line-height: 36px;
      margin-bottom: 18px;
      margin-top: 34px;

      @media (max-width: 768px) {
        font-size: 20px;
        line-height: initial;
        margin-bottom: 10px;
        margin-top: 20px;
      }
    }

    p.subtitle {
      color: $black;
      font-family: $font-family;
      font-size: 20px;
      font-weight: $normal;
      line-height: 28px;
      margin: auto;
      margin-bottom: 38px;
      max-width: 320px;
      @media (max-width: 768px) {
        font-size: 16px;
        line-height: initial;
        margin-bottom: 30px;
      }
    }
  }

  .btn {
    font-family: $font-family;
    font-size: 28px;
    font-weight: $normal;
    letter-spacing: 2.8px;
    line-height: 28px;
    margin-bottom: 150px;
    padding: 35px 69px;
    position: relative;

    @media (max-width: 768px) {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: initial;
      margin: 35px 15px 50px 15px;
      padding: 20px;
      white-space: break-spaces;
    }
  }
}

#cours-mission {
  background: transparent linear-gradient(180deg, $white 0%, $grey 100%) 0% 0% no-repeat padding-box;

  .col {
    align-items: center;
    display: flex;
    position: relative;
    @media (max-width: 1200px) {
      flex-direction: column;
    }


    .image {
      padding: 0;
    }

    .texte {
      background: $white;
      margin-right: 100px;
      padding: 100px;

      @media (max-width: 768px) {
        background: none;
        margin: 0;
        padding: 50px 15px;
      }
      @media (max-width: 1400px) {
        background: none;
        margin-right: 0;
      }

      h2 {
        color: $black;
        font-family: $font-family;
        font-size: 35px;
        font-weight: $medium;
        line-height: 45px;

        @media (max-width: 768px) {
          font-size: 30px;
          line-height: initial;
          margin-bottom: 30px;
        }
      }

      p {
        color: $black;
        font-family: $font-family;
        font-size: 15px;
        font-weight: $normal;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

#cours-temoignages {
  background: $grey;
  overflow: hidden;
  padding-bottom: 170px;
  padding-top: 143px;
  position: relative;

  @media (max-width: 768px) {
    padding-bottom: 50px;
    padding-top: 0;
  }

  .col {
    h2 {
      color: $black;
      font-family: $font-family;
      font-size: 54px;
      font-weight: $medium;
      line-height: 45px;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        font-size: 30px;
        line-height: initial;
        padding: 0 15px;
      }
    }
  }

  .slider {
    margin-left: -150px;
    width: calc(100% + 300px);

    @media (max-width: 768px) {
      margin: 0;
      width: 100%;
    }

    .slide {
      padding: 0 8px;

      .inner-slide {
        @media(max-width: 768px) {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }
      }

      .temoignage {
        background: $white;
        margin-bottom: 20px;
        padding: 67px;

        @media (max-width: 768px) {
          margin-bottom: 0;
          padding: 15px;
          width: 50%;
        }

        &:first-child {
          height: 400px;
          margin-left: -50%;
          width: 100%;

          @media (max-width: 768px) {
            height: auto;
            margin: auto;
            width: 50%;
          }

        }

        p {
          color: $black;
          font-family: $font-family;
          font-size: 30px;
          font-style: italic;
          font-weight: $medium;
          line-height: 40px;
          text-align: center;

          @media (max-width: 768px) {
            font-size: 16px;
            font-weight: $normal;
            line-height: initial;
          }

          @media (max-width: 1400px) {
            font-size: 20px;
            line-height: initial;
          }

          &.from {
            color: $red;
            font-size: 20px;
            font-style: initial;
            font-weight: $normal;
            line-height: 28px;
            text-transform: uppercase;
          }
        }
      }
    }

    button {
      border: none;
      color: transparent;
      height: 100%;
      position: absolute;
      top: 0;
      width: 140px;
      z-index: 1;

      @media (max-width: 768px) {
        width: 40px;
      }

      &.slick-prev {
        background: linear-gradient(
                        90deg, $grey, transparent);
        left: 150px;

        @media (max-width: 768px) {
          left: 0;
        }

        &:before {
          background-image: url('../img/icon.arrow.slider.red.svg');
          content: '';
          height: 86px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
          width: 86px;

          @media (max-width: 768px) {
            height: 30px;
            width: 30px;
          }
        }
      }

      &.slick-next {
        background: linear-gradient(
                        270deg, $grey, transparent);
        right: 150px;

        @media (max-width: 768px) {
          right: 0;
        }

        &:before {
          background-image: url('../img/icon.arrow.slider.red.svg');
          content: '';
          height: 86px;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 86px;

          @media (max-width: 768px) {
            height: 30px;
            width: 30px;
          }
        }
      }

      &:focus {
        outline: 0;
      }
    }
  }
}


#cours-infos {
  background: $grey;

  &.cours-junior {
    padding-top: 122px;

    .col .texte .grid h3 {
      text-transform: uppercase;
    }
  }

  .col {
    align-items: center;
    display: flex;
    position: relative;

    @media (max-width: 1200px) {
      flex-direction: column-reverse;
    }

    .image {
      padding: 0;
    }

    .texte {
      background: $white;
      margin-left: 100px;
      padding: 60px;

      @media (max-width: 768px) {
        background: none;
        margin: 0;
        padding: 50px 15px;
      }

      @media (max-width: 1400px) {
        margin-left: 0;
      }

      h2 {
        color: $black;
        font-family: $font-family;
        font-size: 45px;
        font-weight: $medium;
        line-height: 45px;
        margin-bottom: 38px;

        @media (max-width: 768px) {
          font-size: 30px;
          line-height: initial;
          margin-top: 0;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: 200px 1fr;

        @media (max-width: 768px) {
          grid-template-columns: 1fr;
        }

        h3 {
          color: $red;
          font-family: $font-family;
          font-size: 16px;
          font-weight: $medium;
          line-height: 28px;
          margin-top: 0;
        }

        img {
          margin-right: 18px;
          width: 18px;
        }

        .left {
          align-items: start;
          display: flex;
        }

        .right {
          p {
            color: $black;
            font-family: $font-family;
            font-size: 15px;
            font-weight: $normal;
            line-height: 20px;
            margin-bottom: 20px;
          }
        }
      }

      .btn {
        font-family: $font-family;
        font-size: 20px;
        font-weight: $normal;
        letter-spacing: 2px;
        line-height: 28px;
        margin-bottom: 0;
        padding: 23px 22px;
        position: relative;

        @media (max-width: 768px) {
          font-size: 20px;
          letter-spacing: 1px;
          line-height: initial;
          margin: 35px 15px 0px 15px;
          padding: 20px;
          white-space: break-spaces;
        }
      }
    }
  }
}

#cours-sites {
  background: transparent linear-gradient(180deg, $grey 0%, $white 100%) 0% 0% no-repeat padding-box;
  margin-bottom: 150px;
  padding-top: 92px;

  @media (max-width: 768px) {
    margin-bottom: 0;
    padding: 50px 15px;
  }

  .btn {
    font-family: $font-family;
    font-size: 20px;
    font-weight: $normal;
    letter-spacing: 2px;
    line-height: 24px;
    margin-bottom: 47px;
    padding: 22px 32px;
    position: relative;

    @media (max-width: 768px) {
      display: none;
    }
  }

  h2 {
    color: $black;
    font-family: $font-family;
    font-size: 54px;
    font-weight: $medium;
    line-height: 45px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 30px;
      line-height: initial;
      margin-top: 0;
    }
  }

  .sites {
    display: grid;
    gap: 86px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 1374px;

    @media (max-width: 768px) {
      gap: 20px;
      grid-template-columns: 1fr;
    }

    .site {

      a {
        align-items: flex-end;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        display: flex;
        height: 450px;
        position: relative;
        width: 100%;

        @media (max-width: 1200px) {
          height: 250px;
        }

        h3 {
          color: $white;
          font-family: $font-family;
          font-size: 40px;
          font-weight: $thin;
          letter-spacing: 0;
          line-height: 28px;
          margin-bottom: 0;
          margin-top: 0;
          text-transform: uppercase;
          z-index: 2;
        }

        &:before {
          background-color: $black;
          content: '';
          height: 100%;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: all 0.2s ease-in-out;
          width: 100%;
        }

        &:hover {
          text-decoration: none;

          &:before {

            opacity: 0.63;
            transition: all 0.2s ease-in-out;
          }

        }

      }

      &:nth-child(2n) {
        margin-top: 26px;
      }
    }
  }
}

#cours-reservations {
  margin-bottom: 100px;
  margin-top: 150px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  h2 {
    color: $black;
    font-family: $font-family;
    font-size: 54px;
    font-weight: $medium;
    line-height: 45px;
    margin-bottom: 28px;

    @media (max-width: 768px) {
      font-size: 30px;
      line-height: initial;
      margin-top: 0;
      padding: 0 15px;
    }
  }

  .reservations {
    .reservation {
      align-items: center;
      background: $lighter-grey;
      box-shadow: 0px 2px 6px #00000029;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 13px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 20px;
        text-align: center;
      }

      &:nth-child(2n) {
        background: $grey;
      }

      .col1 {
        color: $black;
        font-family: $font-family;
        font-size: 27px;
        font-weight: $medium;
        line-height: 32px;
        margin-left: 60px;

        @media (max-width: 768px) {
          margin: 0 10px;
        }
      }

      .col2 {
        color: $black;
        font-family: $font-family;
        font-size: 27px;
        font-weight: $book;
        line-height: 32px;
        text-align: center;

        @media (max-width: 768px) {
          margin: 0 10px;
        }
      }

      .col3 {
        text-align: right;

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      .btn {
        font-family: $font-family;
        font-size: 20px;
        font-weight: $normal;
        letter-spacing: 2px;
        line-height: 25px;
        margin: 20px;
        padding: 20px 30px 20px 60px;
        position: relative;
        text-transform: uppercase;

        @media (max-width: 768px) {
          margin: 10px;
          white-space: initial;
        }

        &:before {
          background-image: url('../img/icon.addtobag.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          height: 21px;
          left: 25px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 23px;
        }
      }
    }
  }
}

#cours-grise {
  margin-bottom: 158px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }

  .grise {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 474px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
    }

    .left, .right {
      padding-bottom: 109px;
      padding-top: 109px;
      text-align: center;

      @media (max-width: 768px) {
        padding: 50px 15px;
      }

      h2 {
        color: $white;
        font-family: $font-family;
        font-size: 54px;
        font-weight: $medium;
        letter-spacing: 0;
        line-height: 45px;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          font-size: 30px;
          line-height: initial;
          margin-top: 0;
          padding: 0 15px;
        }
      }

      p {
        color: $white;
        font-family: $font-family;
        font-size: 20px;
        font-weight: $normal;
        line-height: 28px;
        margin: auto;
        max-width: 500px;

        &.nom {
          margin-top: 20px;
        }
      }

      a {
        color: $red;
        font-family: $font-family;
        font-size: 20px;
        font-style: italic;
        font-weight: $book;
        line-height: 28px;
        text-decoration: underline;
      }
    }

    .left {
      background: $black;
    }

    .right {
      background: $lighter-black;
    }
  }
}

#cours-juniors-reservations {
  background: transparent linear-gradient(180deg, #EFEFEF 0%, #FFFFFF 70%) 0% 0% no-repeat padding-box;
  margin-bottom: 100px;
  padding-top: 150px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  h2 {
    color: $black;
    font-family: $font-family;
    font-size: 54px;
    font-weight: $medium;
    line-height: 45px;
    margin-bottom: 28px;

    @media (max-width: 768px) {
      font-size: 30px;
      line-height: initial;
      margin-top: 0;
      padding: 0 15px;
    }
  }

  .cours-junior {
    .reservation {
      align-items: center;
      background: $lighter-grey;
      box-shadow: 0px 2px 6px #00000029;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 13px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 20px;
        text-align: center;
      }

      &:nth-child(2n) {
        background: $grey;
      }

      .col1 {
        color: $black;
        font-family: $font-family;
        font-size: 27px;
        font-weight: $medium;
        line-height: 32px;
        margin-left: 60px;

        @media (max-width: 768px) {
          margin: 0 10px;
        }
      }

      .col2 {
        color: $black;
        font-family: $font-family;
        font-size: 27px;
        font-weight: $book;
        line-height: 32px;
        text-align: center;

        @media (max-width: 768px) {
          margin: 0 10px;
        }
      }

      .col3 {
        text-align: right;

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      .btn {
        font-family: $font-family;
        font-size: 20px;
        font-weight: $normal;
        letter-spacing: 2px;
        line-height: 25px;
        margin: 20px;
        padding: 20px 30px 20px 60px;
        position: relative;
        text-transform: uppercase;

        @media (max-width: 768px) {
          margin: 10px;
          white-space: initial;
        }

        &:before {
          background-image: url('../img/icon.addtobag.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          height: 21px;
          left: 25px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 23px;
        }
      }
    }
  }
}

.accordion {

  background: $lighter-grey;
  box-shadow: 0px 2px 6px #00000029;
  margin-bottom: 13px;

  &:nth-child(2n) {
    background: $grey;
  }

  .accordion-header {
    align-items: center;
    cursor: pointer;
    display: grid;
    font-family: $font-family;
    grid-template-columns: 1fr 250px 150px 1fr;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;

      &.active .horaire-mobile, &.active .age-mobile {
        display: flex!important;
        align-items:center;
      }

      .title
      {
        font-size: 16px!important;
      }
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;

      .reserver
      {
        text-align:center!important;
      }
      .title
      {
        padding-top:20px;
        padding-left: 20px!important;
        text-align: center;


        img
        {
          margin-left: 7px!important;
        }
      }
      & .horaire-mobile, & .age-mobile {
        justify-content: center;
      }

    }

    .title {
      font-size: 20px;
      font-weight: $medium;
      line-height: 32px;
      padding-left: 60px;
      padding-right: 20px;

      img {
        margin-left: 20px;
        max-width: 15px;
        transform: rotate(90deg);
      }

      .horaire-mobile,.age-mobile{
        display:none;
        font-size: 10px;
        font-weight: $normal;
      }
      .horaire-mobile
      {
        img
        {
          margin-top: 0;
          transform: none;
          margin-left: 0;
        }
        p
        {
          margin: 0;
          line-height: initial;
          margin-left: 10px;
        }
      }

      .age-mobile
      {
        img
        {
          margin-top: 10px;
          transform: none;
          margin-left: 0;
        }
        p
        {
          margin-top: 10px;
          line-height: initial;
          margin-left: 10px;
          margin-bottom: 0;
        }
      }
    }

    .horaire, .age {
      align-items: center;
      display: flex;

      img {
        margin-right: 15px;
        max-width: 23px;
      }

      p {
        margin-bottom: 0;
      }

      @media (max-width: 1200px) {
        display: none;
      }
    }

    .btn {
      background: $red url('../img/icon.addtobag.svg') no-repeat left 23px center;
      font-family: $font-family;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 28px;
      margin: 20px;
      padding: 20px 30px 20px 60px;
      position: relative;

      @media (max-width: 1200px)
      {
        background: $red url('../img/icon.addtobag.svg') no-repeat left 15px center;
        padding: 10px 10px 10px 40px;
        background-size: 18px;
        font-size: 15px;
        letter-spacing: 1px;
      }
    }

    .reserver {
      text-align: right;
    }

  }

  .panel {
    background-color: transparent;
    background-position: right bottom;
    background-repeat: no-repeat;
    border: 0;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 60px;
    transition: max-height 0.15s ease-out;
    transition: padding 0.15s ease-out;

    @media (max-width: 768px)
    {
      padding: 0 20px;
    }
    @media (max-width: 1200px)
    {
      grid-template-columns: 1fr 1fr;
      gap:10px;

      .col2
      {
        img
        {
          max-width:150px;
        }
      }
      .col3
      {
        display: grid;
        grid-template-columns: 1fr 1fr;

        p:first-child
        {
          grid-column: 1;
          grid-row: 1;
        }

        img
        {
          max-width:50px!important;
          grid-column: 1;
          grid-row: 2;
        }
      }
    }

    @media (max-width: 768px)
    {
      grid-template-columns: 1fr;
    }

    .titre-infos-camp {
      color: $black;
      font-family: $font-family;
      font-size: 22px;
      font-weight: $medium;
      margin-bottom: 20px;
    }

    ul {
      margin: 0;
      padding: 0 10px;

      li {
        font-family: $font-family;
        font-size: 15px;
        font-weight: $thin;
        list-style-type: circle;

        &::marker {
          color: $red;
        }
      }
    }

    p {
      font-family: $font-family;
      font-size: 15px;
      font-weight: $thin;
    }
  }
}
