.page-template-page-defaut {
  p {
    font-size: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
    line-height: 34px;
  }
}

#generic-intro {
  position: relative;

  .phrase-background {
    color: #efefef;
    font-family: "canada-type-gibson", sans-serif;
    font-size: 300px;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    width: 100%;
    z-index: -1;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .col-text {
    margin: auto;
    max-width: 1234px;
    padding: 148px 0;

    @media (max-width: 768px) {
      padding: 50px 15px;
    }

    p {
      color: $black;
      font-family: $font-family;
      font-size: 40px;
      font-weight: $medium;
      letter-spacing: 0;

      @media (max-width: 768px) {
        font-size: 20px;
        line-height: initial;
      }
    }
  }
}

#generic-section {
  margin-bottom: 200px;
  @media (max-width: 1200px) {
    margin-bottom: 50px;
  }

  @media (min-width: 1200px) {
    &:nth-child(2n) {
      .texte {
        order: 2;
        margin-right: 100px;
        margin-left: 0 !important;
      }

      .image {
        order: 1;
      }
    }
  }


  .col {
    align-items: center;
    display: flex;
    position: relative;

    @media (max-width: 1200px) {
      flex-direction: column-reverse;
    }

    .image {
      padding: 0;
    }

    .texte {
      background: $white;
      margin-left: 100px;
      padding: 60px;
      @media (min-width: 1200px) {
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #EFEFEF;
      }

      @media (max-width: 768px) {
        background: none;
        margin: 0;
        padding: 50px 15px;
      }

      @media (max-width: 1400px) {
        margin-left: 0;
      }

      h2,.h2 {
        color: $black;
        font-family: $font-family;
        font-size: 45px;
        font-weight: $medium;
        line-height: 45px;
        margin-bottom: 38px;

        @media (max-width: 768px) {
          font-size: 30px;
          line-height: initial;
          margin-top: 0;
        }
      }

      p {
        font-family: $font-family;
        font-size: 22px;
        font-weight: $normal;

        @media (max-width: 1200px) {
          font-size: 16px;
        }
      }
    }
  }
}