#slider-equipe {
  height: 66vh;
  background-size: cover;
  background-position: 50% 40%;
  align-items: start;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    color: $white;
    font-family: $font-family;
    font-size: 138px;
    font-weight: $medium;
    margin: 0;
    margin-left: 69px;
    max-width: 900px;

    @media (max-width: 1200px) {
      font-size: 100px;
      line-height: initial;

    }
    @media (max-width: 768px) {
      font-size: 50px;
      line-height: initial;
      margin: 0 20px;
    }
  }

  p.subtitle {
    color: $white;
    font-family: $font-family;
    font-size: 30px;
    line-height: 30px;
    font-weight: $normal;
    margin-left: 69px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: initial;
      margin: 0 20px 40px 20px;
    }
  }
}

#equipe {
  padding-top: 112px;
  padding-bottom: 252px;

  .grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 120px 0;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 50% 50%;
      gap: 60px 0;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 100%;
      margin:0;
      gap: 30px 0;
    }

    .member {

      .inner {
        margin: 0 42px;
        min-height: 450px;
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-position: center;
        position: relative;
        cursor: url('../img/icon.plus.svg'), auto;

        @media screen and (max-width: 1200px) {
          min-height: 350px;
        }

        @media screen and (max-width: 768px) {
          margin:0;
          overflow:hidden;
        }

        .lien-cours
        {
          position: absolute;
          right: 0;
          top: 0;
          width: 60px;
          height: 60px;
          background: $red url('../img/icon.reserver.svg') no-repeat right 12px center;
          z-index: 3;
          transition: width 0.3s ease;
          transition-delay: 0.3s;

          &:before
          {
            opacity:0;
            transition: all 0.3s ease;
            content:'Réserver des cours';
            position: absolute;
            left: 24px;
            display: block;
            height: 100%;
            align-items: center;
            width: 100%;
            line-height: 60px;
            font-size: 20px;
            text-transform: uppercase;
            color: $white;
            font-family:$font-family;
            letter-spacing: 2px;
          }

          &:hover
          {
            width:320px;
            transition: width 0.3s ease;

            &:before
            {
              content:'Réserver des cours';
              position: absolute;
              left: 24px;
              display: block;
              height: 100%;
              align-items: center;
              width: 100%;
              line-height: 60px;
              font-size: 20px;
              text-transform: uppercase;
              color: $white;
              font-family:$font-family;
              letter-spacing: 2px;
              opacity:1;
              transition: all 0.3s ease;
              transition-delay: 0.3s;
            }
          }

        }

        h3 {
          font-family: $font-family;
          font-weight: $thin;
          font-size: 40px;
          line-height: 40px;
          color: $white;
          letter-spacing: 0;
          text-transform: uppercase;
          z-index: 2;
          margin-bottom: 0;

          @media screen and (max-width: 1200px) {
            font-size: 33px;
            line-height: initial;
          }

        }

        .hover {
          position: absolute;
          height: 100%;
          vertical-align: middle;
          align-items: center;
          display: none;
          opacity:0;
          transition: all 0.5s ease-in-out;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          padding: 0 20px;
          width: 100%;

          p {
            font-family: $font-family;
            font-size: 36px;
            line-height: 44px;
            font-style: italic;
            font-weight: $book;
            color: $white;

            @media screen and (max-width: 1200px) {
              font-size: 16px;
              line-height: initial;
            }
          }

          .btn-team {
            position: absolute;
            bottom: 0;
            width: 100%;
            border-top: 1px solid white;
            padding: 32px 0;
            text-align: center;

            @media screen and (max-width: 1200px) {
              padding: 12px 0;
            }
            span {
              color: $white;
              font-family: $font-family;
              font-size: 20px;
              letter-spacing: 2px;
              margin-left: -48px;
              position: relative;
              text-transform: uppercase;

              &:after {
                background-image: url('../img/icon.arrow.svg');
                background-repeat: no-repeat;
                background-size: cover;
                content: ' ';
                height: 22px;
                left: calc(100% + 10px);
                position: absolute;
                width: 48px;
                top: 50%;
                transform: translateY(-50%);
              }
            }

          }
        }

        &:hover
        {
          & > h3
          {
            opacity:0;
          }
          .hover{
            display:flex;
            opacity:1;
            transition: all 0.5s ease-in-out;
          }
        }

        &:before {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          content: '';
          mix-blend-mode: multiply;
          background-color: $black;
          transition: all 0.2s ease-in-out;
          opacity: 0;
        }

        &:hover:before {

          transition: all 0.2s ease-in-out;
          opacity: 1;
        }

      }

      &:nth-child(3n-1) {

        margin-top: 26px;

        @media screen and (max-width: 768px) {
          margin-top:0;
        }
      }
    }
  }
}