.wpcf7 {
  margin: 200px 0;
  font-family: $font-family;
  font-size: 20px;
  font-weight: $normal;
  color: $black;

  @media (max-width: 768px) {
    margin: 50px 15px;
  }

  h2 {
    font-family: $font-family;
    font-weight: $medium;
    color: $black;
    font-size: 54px;
    line-height: 45px;
    letter-spacing: 0;
    margin-bottom: 97px;

    @media (max-width: 768px) {
      font-size: 30px;
      padding: 0 15px;
      margin-bottom: 30px;
    }
  }

  h3 {
    font-size: 30px;
    font-family: $font-family;
    line-height: 36px;
    color: $black;
    font-weight: $medium;
    margin-top: 34px;
    margin-bottom: 18px;

    @media (max-width: 768px)
    {
      font-size: 20px;
      line-height: initial;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  label
  {
    font-weight:$medium;
  }

  .wpcf7-checkbox
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 800px;

    @media (max-width: 768px)
    {
      grid-template-columns: 1fr 1fr;
    }

    .wpcf7-list-item
    {
      margin:0;
    }
  }

  input[type=text],input[type=email],input[type=tel],input[type=date],textarea
  {
    margin-bottom:5px;
    border: 1px solid $black;
    border-radius: 0;
    padding: 10px;
    width:100%;
  }

  .allergie, .sante
  {
    input{
      width:100%;
    }
  }
  .grid
  {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;



    input
    {
      width:99%;
    }
  }

  input[type=submit]
  {
      font-family: $font-family;
      font-size: 20px;
      font-weight: $normal;
      letter-spacing: 2px;
      line-height: 20px;
      padding: 20px;
      position: relative;
  }
}
#wpcf7-f1091-p1087-o1
{
  margin-top:0;
}