#slider-home {
  align-items: start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  position: relative;
  z-index: 1;

  h1 {
    color: $white;
    font-family: $font-family;
    font-size: 138px;
    font-weight: $medium;
    margin: 0;
    margin-left: 69px;

    @media (max-width: 1200px) {
      font-size: 100px;
      line-height: initial;

    }
    @media (max-width: 768px) {
      font-size: 50px;
      line-height: initial;
      margin: 0 20px;
    }
  }

  .btn {
    font-family: $font-family;
    font-size: 28px;
    font-weight: $normal;
    letter-spacing: 2.8px;
    line-height: 28px;
    margin-bottom: 107px;
    padding: 35px 117px 35px 69px;
    position: relative;

    &:after {
      background-image: url('../img/icon.arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      content: ' ';
      height: 22px;
      position: absolute;
      right: 55px;
      width: 48px;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (max-width: 768px) {
      font-size: 20px;
      padding: 20px;
      line-height: initial;
      letter-spacing: 1px;
      white-space: break-spaces;
      margin: 35px 15px 50px 15px;

      &:after {
        content: none;
      }
    }
  }
}

@media screen and (min-width: 1640px) {
  .container {
    width: 1640px;
  }
}

#cours {
  background: $white;
  padding: 100px 0;

  &.second-section {
    background: transparent;
    margin-top: -300px;
  }


  .cours-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 50% 50%;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 100%;
    }
  }

  .cours {
    height: 480px;
    padding-left: 7px;
    padding-right: 7px;

    @media screen and (max-width: 768px) {
      height: 420px;
    }

    h3 {
      color: #fff;
      font-family: $font-family;
      font-size: 40px;
      margin: 0;
      padding: 0 15px 62px 15px;
      text-align: center;
      z-index: 1;
    }

    a, .a {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      position: relative;
      text-decoration: none;
      width: 100%;

      .btn-cours {
        border-top: 1px solid white;
        padding: 32px 0;
        text-align: center;
        width: 100%;

        span {
          color: $white;
          font-family: $font-family;
          font-size: 20px;
          letter-spacing: 2px;
          margin-left: -48px;
          position: relative;
          text-transform: uppercase;

          &:after {
            background-image: url('../img/icon.arrow.svg');
            background-repeat: no-repeat;
            background-size: cover;
            content: ' ';
            height: 22px;
            left: calc(100% + 10px);
            position: absolute;
            width: 48px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      &:hover {
        .btn-cours {
          background: $red;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

#inscription {
  padding: 350px 0;
  margin-top: -300px;

  h2 {
    font-size: 103px;
    font-weight: $medium;
    font-family: $font-family;
    margin-bottom: 28px;

    @media (max-width: 768px) {
      font-size: 40px;
      line-height: initial;
    }
  }

  .subtitle {
    max-width: 670px;
    margin: auto;
    font-size: 30px;
    font-family: $font-family;
    font-weight: $book;

    @media (max-width: 768px) {
      font-size: 20px;
      padding: 0 20px;
    }
  }

  .btn {
    font-family: $font-family;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 28px;
    padding: 22px 93px 22px 27px;
    position: relative;

    &:after {
      background-image: url('../img/icon.arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      content: ' ';
      height: 17px;
      position: absolute;
      right: 40px;
      width: 36px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

#bandeau-noir {
  padding: 236px 0;

  @media (max-width:768px) {
    padding: 100px 0;
  }

  .btn {
    font-family: $font-family;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 28px;
    padding: 22px 36px;
    position: relative;
    margin-bottom: 28px;

    @media (max-width:768px) {
      font-size:15px;
      padding:15px;
    }
  }

  .text-center {
    margin: auto;

    h2 {
      font-family: $font-family;
      font-size: 103px;
      color: $white;
      font-weight: $medium;
      letter-spacing: 0;
      line-height: 95px;
      margin-bottom: 28px;

      @media (max-width:768px) {
        font-size:43px;
        line-height:initial;
        padding:0 15px;
      }
    }

    p.subtitle {
      font-family: $font-family;
      font-size: 30px;
      color: $white;
      max-width: 670px;
      margin: auto;

      @media (max-width:768px) {
        font-size:20px;
        line-height:initial;
        padding:0 15px;
      }
    }
  }
}

#carousel-team {
  overflow: hidden;
  position: relative;
  padding-bottom: 188px;
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }


  .phrase-background {
    position: absolute;
    font-size: 400px;
    color: $grey;
    top: 40%;
    left: 0;
    font-family: $font-family;
    font-weight: $bold;
    z-index: -1;
    white-space: nowrap;
    width: 100%;

    @media (max-width: 1200px) {
      font-size: 250px;
      top: 60%;
    }
    @media (max-width: 768px) {
      display:none;
    }
  }

  .slider {
    width: calc(100% + 300px);
    margin-left: -150px;
    margin-top: 270px;

    @media (max-width:768px) {
      width:100%;
      margin:150px 0 0 0;
    }

    .slide {
      margin: 0 42px;
      min-height: 450px;
      display: flex;
      align-items: flex-end;
      background-size: cover;
      background-position: center;
      position: relative;
      cursor: url('../img/icon.plus.svg'), auto;

      @media (max-width: 768px)
      {
        margin: 0 15px;
      }

      &:nth-child(2n) {
        margin-top: 40px;

        @media (max-width: 768px)
        {
          margin-top: 0;
        }
      }

      h3 {
        font-family: $font-family;
        font-weight: $thin;
        font-size: 40px;
        line-height: 40px;
        color: $white;
        letter-spacing: 0;
        text-transform: uppercase;
        z-index: 2;
        margin-bottom: 0;

        @media (max-width: 768px) {
          font-size:33px;
          line-height:initial;
        }
      }

      &:before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        mix-blend-mode: multiply;
        background-color: $red;
        transition: all 0.2s ease-in-out;
        opacity: 0;
      }

      &:hover:before {

        transition: all 0.2s ease-in-out;
        opacity: 1;
      }
    }

    button {
      position: absolute;
      height: 100%;
      z-index: 1;
      top: 0;
      width: 140px;
      border: none;
      color: transparent;

      @media (max-width: 768px)
      {
        width: 40px;
      }


      &.slick-prev {
        left: 150px;
        background: linear-gradient(
                        90deg, white, transparent);

        @media (max-width: 768px) {
          left:0;
        }

        &:before {
          background-image: url('../img/icon.arrow.slider.svg');
          width: 86px;
          height: 86px;
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
          right: 0;

          @media (max-width: 768px)
          {
            width:30px;
            height:30px;
          }
        }
      }

      &.slick-next {
        right: 150px;
        background: linear-gradient(
                        270deg, white, transparent);

        @media (max-width: 768px) {
          right:0;
        }

        &:before {
          background-image: url('../img/icon.arrow.slider.svg');
          width: 86px;
          height: 86px;
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;

          @media (max-width: 768px)
          {
            width:30px;
            height:30px;
          }
        }
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .text-center {
    margin: auto;

    h2 {
      font-family: $font-family;
      font-size: 103px;
      color: $black;
      font-weight: $medium;
      letter-spacing: 0;
      line-height: 95px;
      margin-bottom: 28px;

      @media (max-width:768px) {
        font-size:43px;
        line-height:initial;
        padding:0 15px;
      }
    }

    p.subtitle {
      font-family: $font-family;
      font-size: 30px;
      color: $black;
      max-width: 670px;
      margin: auto;

      @media (max-width:768px) {
        font-size:20px;
        line-height:initial;
        padding:0 15px;
      }
    }

    .btn {
      font-family: $font-family;
      font-size: 28px;
      font-weight: $normal;
      letter-spacing: 2.8px;
      line-height: 28px;
      padding: 35px 117px 35px 69px;
      position: relative;

      &:after {
        background-image: url('../img/icon.arrow.svg');
        background-repeat: no-repeat;
        background-size: cover;
        content: ' ';
        height: 22px;
        position: absolute;
        right: 55px;
        width: 48px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

}