/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: $white;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius:0;
  top: 50%;
  transform: translateY(-50%);
  margin:auto;

  @media screen and (max-width: 768px) {
    top: 10px;
    transform: none;
  }

.inner-modal
  {
    display: grid;
    grid-template-columns: 45% 55%;
    width:100%;

  @media screen and (max-width: 1000px) {

    grid-template-columns: 100%;
    div:nth-child(1) { display:none; }
  }


    .photo
    {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: flex;
      align-items: flex-end;

      h2
      {
        max-width: 80%;
        margin: 0 auto 120px auto;
        text-align: center;
        font-family:$font-family;
        color:$white;
        font-weight: $book;
        font-style: italic;
        font-size:35px;
      }

      .lien-membre-precedent
      {
        position: absolute;
        bottom: -25px;
        background: $red ;
        left: 22.5%;
        transform: translateX(-50%);
        font-size: 16px;
        text-transform: uppercase;
        color: $white;
        font-family: $font-family;
        letter-spacing: 2px;
        padding: 20px 24px 20px 54px;
        display: inline-block;
        margin-top: 20px;

        @media screen and (max-width: 1200px) {
          padding: 10px 14px 10px 34px;
          font-size: 13px;
          letter-spacing: 1px;
        }

        &:before
        {
          background: url('../img/icon.arrow.svg');
          background-size: cover;
          content: '';
          width: 36px;
          height: 17px;
          position: absolute;
          left: 12px;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);

          @media screen and (max-width: 1200px) {
            width: 16px;
            height: 8px;
            position: absolute;
            right: 12px;
          }
        }
        &:hover
        {
          text-decoration: none;
          background: #c8171b;
        }
      }

    }

    > .text
    {
      padding:60px;
      position:relative;

      @media screen and (max-width: 1200px) {
        padding:40px;
      }

      @media screen and (max-width: 1000px) {
        padding: 40px 20px;
      }

      h2
      {
        font-family:$font-family;
        color:$black;
        text-transform:uppercase;
        font-weight:$thin;
        font-size:44px;
        line-height:45px;

        @media screen and (max-width: 1200px) {
          font-size: 25px;
          line-height:initial;
        }


      }

      h3
      {
        margin-top: 0;
        font-size: 25px;
        line-height: 45px;
        font-weight: $medium;
        font-family: $font-family;
        font-style: italic;
        margin-bottom: 40px;

        @media screen and (max-width: 1200px) {
          font-size: 16px;
          line-height: initial;
          margin-bottom: 20px;
        }
      }

      .programmes,.experience,.valeur,.raquette,.description,.certifications
      {
        margin-bottom: 10px;
        p
        {
          display:inline;
          font-size:16px;
          font-family:$font-family;
        }

        .title
        {
          color:$red;
          font-weight:$medium;
          text-transform:uppercase;
          letter-spacing:1.2px;
        }

        .text
        {
          font-weight:$thin;
          color:$black;
          letter-spacing:0;
        }
      }

      .lien-cours
      {
        background: $red url('../img/icon.reserver.svg')  no-repeat right 12px center;
        font-size: 16px;
        text-transform: uppercase;
        color: $white;
        font-family: $font-family;
        letter-spacing: 2px;
        padding: 20px 54px 20px 24px;
        display: inline-block;
        margin-top: 20px;

        @media screen and (max-width: 1200px) {
          background: #EF1F24 url("../img/icon.reserver.svg") no-repeat right 6px center/25px 25px;
          padding: 10px 34px 10px 14px;
          font-size: 13px;
          letter-spacing: 1px;
        }


        &:hover
        {
          text-decoration: none;
          background: #c8171b url('../img/icon.reserver.svg') no-repeat right 12px center;
          @media screen and (max-width: 1200px) {
            background: #c8171b url("../img/icon.reserver.svg") no-repeat right 6px center/25px 25px
          }
        }
      }

      .lien-membre-suivant
      {
        position: absolute;
        bottom: -25px;
        background: $red;
        right: calc(22.5% - 136px);
        transform: translateX(-50%);
        font-size: 16px;
        text-transform: uppercase;
        color: $white;
        font-family: $font-family;
        letter-spacing: 2px;
        padding: 20px 54px 20px 24px;
        display: inline-block;
        margin-top: 20px;

        @media screen and (max-width: 1200px) {
          padding: 10px 34px 10px 14px;
          font-size: 13px;
          letter-spacing: 1px;
        }

        @media screen and (max-width: 1000px) {
          right: calc(22.5% - 196px);
        }

        @media screen and (max-width: 768px) {
          font-size: 0;
          bottom: -10px;
          height: 40px;
          right: 0;
          width: 0;
          padding-right: 27px;
        }


        &:before
        {
          background: url('../img/icon.arrow.svg');
          background-size: cover;
          content: '';
          width: 36px;
          height: 17px;
          position: absolute;
          right: 12px;

          @media screen and (max-width: 1200px) {
            width: 16px;
            height: 8px;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &:hover
        {
          text-decoration: none;
          background: #c8171b;
        }
      }

      .lien-membre-precedent
      {
        position: absolute;
        bottom: -25px;
        background: $red ;
        left: 22.5%;
        transform: translateX(-50%);
        font-size: 16px;
        text-transform: uppercase;
        color: $white;
        font-family: $font-family;
        letter-spacing: 2px;
        padding: 20px 24px 20px 54px;
        display: inline-block;
        margin-top: 20px;

        @media screen and (max-width: 1200px) {
          padding: 10px 14px 10px 34px;
          font-size: 13px;
          letter-spacing: 1px;
        }

        @media screen and (max-width: 768px)
        {
          font-size: 0;
          bottom: -10px;
          height: 40px;
          left: 40px;
          width: 0;
          padding-left: 27px;
        }

        &:before
        {
          background: url('../img/icon.arrow.svg');
          background-size: cover;
          content: '';
          width: 36px;
          height: 17px;
          position: absolute;
          left: 12px;
          top: 50%;
          transform: translateY(-50%) rotate(180deg);

          @media screen and (max-width: 1200px) {
            width: 16px;
            height: 8px;
            position: absolute;
            right: 12px;
          }
        }
        &:hover
        {
          text-decoration: none;
          background: #c8171b;
        }
      }
    }
  }
}

/* The Close Button */
.close {
  color: $black;
  position: absolute;
  right: 0;
  font-weight: $medium;
  font-size: 16px;
  opacity: 1;
  padding: 20px;
  z-index: 121212;

  img
  {
    margin-left:16px;
  }
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .desktop-hide
  {
    display:none!important;
  }
  .desktop-show
  {
    display:block;
  }


}

@media screen and (max-width: 1000px) {
  .mobile-hide
  {
    display:none;
  }
  .mobile-show
  {
    display:block;
  }

}
