.woocommerce:not(.single-product) {
  margin: 200px 0;
  font-family: $font-family;
  font-size: 20px;
  font-weight: $normal;
  color: $black;

  @media (max-width: 768px) {
    margin: 50px 15px;
  }

  label
  {
    font-weight: $medium;
  }

  .woocommerce-info {
    border-top-color: $red;
    font-family: $font-family;
    font-size: 20px;
    font-weight: $normal;
    color: $black;
    background-color: $grey;

    &:before {
      color: $red;
    }
  }

  .woocommerce-notice
  {
    background: $grey;
    padding: 20px;
    margin-bottom: 20px;
  }

  ul.order_details
  {
    padding:0;
  }

  a.button, a.button.alt ,button.button, button.button.alt {

    font-family: $font-family;
    font-size: 20px;
    font-weight: $normal!important;
    letter-spacing: 2px;
    line-height: initial;
    position: relative;
    background-color: $red;
    color: $white;
    transition: all 0.2s ease;
    -webkit-font-smoothing: auto;

    &:hover {
      background-color: #B50A0F;
      color: $white;
      transition: all 0.2s ease;
    }

    @media (max-width: 768px) {
      font-size: 20px;
      padding: 20px;
      line-height: initial;
      letter-spacing: 1px;
      float: none!important;
      margin: 10px auto;
      width: fit-content!important;
    }

  }

  .woocommerce-message {
    border-top-color: $red;
    font-family: $font-family;
    font-size: 20px;
    font-weight: $normal;
    color: $black;
    background-color: $grey;

    &:before {
      color: $red;
    }
  }

  table {
    &.shop_table {

      border-color: $grey;

      th, tbody th, tfoot th, tfoot td {
        font-weight: $medium;
      }
    }

    &.cart
    {
      input.input-text {
        width: auto!important;
        font-size: 20px;
        padding: 0.4em 1em!important;

        @media (max-width: 768px) {
          float: none!important;
        }
      }
    }
  }

  .coupon
  {
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  a
  {
    color:$red;
  }

  #add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment
  {
    background-color: $grey;
  }

  form .form-row-last, form .form-row-first
  {
    float:none;width:100%;
  }
}

.woocommerce {
  .btn.theme.grand {
    border-radius: 0;
  }

  input[type="number"]
  {
    height: 48px;
    border-radius: 0;
    border-style: solid;
    border: 1px solid black;

    @media (max-width: 768px) {
      height:64px;
      margin: 10px auto;
    }
}

  .woocommerce table.shop_table_responsive tr td::before,
  .woocommerce-page table.shop_table_responsive tr td::before
  {
    font-weight: $medium;
  }


  .woocommerce-error .wc-backward
  {
    display:none;
  }
}